{% extends "partials/layout.njk" %}

{% set pageTitle = "Maintenance page" %}

{%  block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>
            <p class="govuk-body">You will be able to use the service later.</p>
            <p class="govuk-body">If you were applying, we've saved your answers.</p>
        </div>
    </div>
{%  endblock %}
