{% extends "partials/layout.njk" %}

{% set pageTitle = "Not Authorised - " + applicationName %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">You do not have permission to complete this action</h1>
      <p class="govuk-body">
        This may be because:
        <ul class="govuk-list govuk-list--bullet">
          <li>the CRN is not in your caseload</li>
          <li>referrals through the Transitional Accommodation (CAS3) service are not currently available in your region</li>
          <li>the home area on your NDelius account is incorrect</li>
        </ul>
      </p>
      <h2 class="govuk-heading-m">Incorrect home area on NDelius account</h2>
      <p class="govuk-body">
        Your home area is currently set to '{{ actingUserProbationRegion.name }}' within NDelius. If this is incorrect this service may not recognise your account as being in the correct region.
      </p>
      <p class="govuk-body">
        Submit an NDelius change request through the <a href="https://mojprod.service-now.com/moj_sp?id=sc_cat_item&table=sc_cat_item&sys_id=21952b8edb73e7441b4ffc45ae96197b">Technology Portal</a> to update it. The form does not have a section for a home area change. You will need to use the ‘other’ option and provide the correct home area.
      </p>
      <h2 class="govuk-heading-m">All other issues</h2>
      <p class="govuk-body">
        Contact <a href="mailto:{{ PhaseBannerUtils.supportEmail }}">{{ PhaseBannerUtils.supportEmail }}</a> and describe the problem you are experiencing.
      </p>
    </div>
  </div>
{% endblock %}
