{% extends "partials/layout.njk" %}

{% set pageTitle = "Referrals should be submitted through nDelius - " + applicationName %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Referrals should be submitted through nDelius</h1>
      <p class="govuk-body">
          All referrals for CAS3 in your region should be submitted through nDelius.
      </p>
      <p class="govuk-body">
          We are working on creating a digital referral for CAS3. Is it not currently available in your region.
      </p>

      <p class="govuk-body">
          In the future you will be able to submit a digital referral for CAS3 through the Temporary Accommodation service. You will be notified when this service is available.
      </p>
    </div>
  </div>
{% endblock %}
