{% extends "partials/layout.njk" %}

{% set pageTitle = "Update your account details - " + applicationName %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Update your account details to use this service</h1>
    <p class="govuk-body">Ask your line manager or HPT lead to add an 'assessor' role to your account. You can use the service once that's done.</p>
    <p class="govuk-body">If you still have problems, please raise a <a class="govuk-link" href="https://mojprod.service-now.com/moj_sp?id=sc_cat_item&sys_id=4f0128741b6fd61025dc6351f54bcb31" rel="noopener noreferrer" target="_blank">support ticket</a> to get help or raise a bug.</p>
  </div>
</div>
{% endblock %}