{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../layout.njk" %}

{% block questions %}

  {{ govukInput({
    label: {
      text: "Enter the individual’s CRN",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      html: "<p>Enter the CRN for the individual needing an AP placement.</p><p>We'll import their details into your application.</p>"
    },
    id: "crn",
    name: "crn",
    value: crn,
    errorMessage: errors.crn
  }) }}

{% endblock %}
