{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">What is the purpose of the Approved Premises (AP) placement?</h1>

  {% set otherReason %}
  {{ govukInput({
      id: "otherReason",
      name: "otherReason",
      type: "text",
      label: {
        text: "Please specify"
      }
    }) }}
  {% endset %}

  {{ govukCheckboxes({
      idPrefix: "placementPurpose",
      name: "placementPurpose",
      fieldset: {
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "publicProtection",
          text: "Public protection"
        },
        {
          value: "resettlement",
          text: "Support resettlement into the community"
        },
        {
          value: "drugAlcoholSupport",
          text: "Enhanced drug or alcohol support"
        },
        {
          value: "risktoSelff",
          text: "Support the management of risk to self"
        },
        {
          divider: "or"
        },
        {
          value: "otherReason",
          text: "Other",
          conditional: {
            html: otherReason
          }
        }
      ]
    }) }}

{% endblock %}
