{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../layout.njk" %}

{% block questions %}

  {{ govukRadios({
    idPrefix: "situation",
    name: "situation",
    errorMessage: errors.situation,
    fieldset: {
      legend: {
        text: page.title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: page.items()
  }) }}

{% endblock %}
