{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro applicationsTable(title, rows, submitted) %}
  {% if rows %}
    {% set headers = [
      {
        text: "Person"
      },
      {
        text: "CRN"
      },
      {
        text: "Status"
      }
    ] %}

    {% set headersWithSubmitted = [
      {
        text: "Person"
      },
      {
        text: "CRN"
      },
      {
        text: "Date submitted"
      },
      {
        text: "Status"
      }
    ] %}

    {% if submitted %}
      {% set headers = headersWithSubmitted %}
    {% endif %}

    {{
        govukTable({
          caption: title,
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: headers,
          rows: rows
        })
      }}
  {% endif %}
{% endmacro %}
