{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Referral complete - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Referral complete"
      }) }}
      <h2 class="govuk-heading-m">What happens next?</h2>

      <p>We've sent your referral to your regional Homeless Prevention Team (HPT) for Transitional Accommodation (CAS3).</p>
      <p>The HPT will assess your referral within 3 to 5 working days. You’ll receive an email when a decision is made.</p>
      <p>If you have any questions about your referral, contact your regional HPT.</p>
      <p><a href="{{ PhaseBannerUtils.feedbackLink }}">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
  </div>

  {{ govukButton({
    text: "Back to dashboard",
    href: paths.applications.index()
  }) }}
</div>
</div>
{% endblock %}
