{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.people() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        {{ govukInput({
                    label: {
                        text: "Enter the individual's CRN",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                      html:"<p>Enter the CRN for the individual needing an AP placement.</p><p>We'll import their details into your application</p>"
                      },
                    classes: "govuk-input--width-10",
                    id: "crn",
                    name: "crn",
                    value: crn,
                    errorMessage: errors.crn
                    }) }}

        {{ govukButton({
                    name: 'submit',
                    text: "Submit"
                }) }}
      </form>
    </div>
  </div>
{% endblock %}
