{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}

{% from "../components/riskWidgets/macro.njk" import widgets %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Make a referral for Temporary Accommodation" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">
        Make a referral for Temporary Accommodation
      </h1>

      {{ showErrorSummary(errorSummary) }}

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2" data-cy-status>Referral {{ taskList.status }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ taskList.completeSectionCount }} of {{ (taskList.sections | length) }} sections.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.submission({id: application.id}) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% set applicationOrAssessment = application %}
        {% include '../partials/taskList.njk' %}

        {% if taskList.status === 'complete' %}
          {{ govukCheckboxes({
            idPrefix: "confirmation",
            name: "confirmation",
            items: [
              {
                value: "submit",
                text: "I confirm the information provided is complete, accurate and up to date."
              }
            ],
            errorMessage: errors.confirmation
          }) }}

          {{ govukButton({
            text: "Submit referral",
            preventDoubleClick: true
          }) }}
        {% endif %}
      </form>

      {{ govukButton({
        text: "Save and come back later",
        classes: "govuk-button--secondary",
        href: paths.applications.index({})
      }) }}
    </div>

    {% if not oasysDisabled %}
      <div class="govuk-grid-column-one-third">
        {{ widgets(application.risks | mapApiPersonRisksForUi) }}
      </div>
    {% endif %}

  </div>

{% endblock %}
