{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% from "./components/riskWidgets/macro.njk" import widgets %}

{% extends "../partials/layout.njk" %}

{% block pageTitle %}
 Approved Premises - Task list
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">
        Apply for an approved premises (AP) placement
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ getCompleteSectionCount(sections, application) }} of {{ (sections | length) }} sections.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <ol class="app-task-list">
        {% for section in sections %}
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">{{loop.index}}. </span>
              {{ section.title }}
            </h2>
            <ul class="app-task-list__items">
              {% for task in section.tasks %}
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    {{ taskLink(task, application.id)  }}
                  </span>
                  {{ getTaskStatus(task, application) }}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">
              {{ (sections | length) + 1 }}.
            </span>
            Submit your application
          </h2>

          {{ govukCheckboxes({
            idPrefix: "confirmation",
            name: "confirmation",
            items: [
              {
                value: "submit",
                text: "I confirm the information provided is complete, accurate and up to date."
              }
            ]
          }) }}
        </li>
      </ol>

      {{ govukButton({
        text: "Submit application",
        href: "/index.html"
      }) }}

      {{ govukButton({
        text: "Save and come back later",
        classes: "govuk-button--secondary",
        href: "/pp-dashboard.html"
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">
      {{ widgets(risks) }}
    </div>
    <div class="risk-information">
      <div class="govuk-grid-column-one-third"></div>
    </div>

  </div>

{% endblock %}
