{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral for Transitional Accommodation (CAS3) - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: paths.applications.index()
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.new() }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h1 class="govuk-heading-l">Make a referral for Transitional Accommodation (CAS3)</h1>

        <p class="govuk-body">Transitional Accommodation (CAS3) is for people on probation who are at risk of homelessness on their first night of release. </p>

        <p class="govuk-body">This includes release from prison, an Approved Premises, or CAS2 (formerly Bail Accommodation Support Services).</p>

        <p class="govuk-body">Use this service to refer for TA.</p>

        <h2>Before you start</h2>

        <h3>You need</h3>

        <ul>
          <li>to have consent from the person on probation to refer for TA</li>
          <li>to have completed a Duty to Refer and Commissioned Rehabilitative Services referral</li>
          <li>the person's CRN</li>
          <li>an up to date OASys – we'll use this to pre-fill some of your referral</li>
        </ul>

        <h3>You need to know</h3>

        <ul>
          <li>eligibility requirements for TA (outlined within the <a href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/?__id=webDiagram.show&map=0%3AFF2D8D3F16B44268B814F7F8177A16F7&dgm=6B8C1C46E26D4ACFBEC3D16F7ABA3029">Operational Guidance for TA</a>)</li>
          <li>factors that will have an impact on the placement location</li>
        </ul>

        {{ govukButton({
          text: "Start now",
          isStartButton: true,
          preventDoubleClick: true
        }) }}

        </form>
      </div>
    </div>
  {% endblock %}
