{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Apply for a Temporary Accommodation placement" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ govukBackLink({
		text: "Back",
		href: paths.applications.index()
	}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.new() }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h1>Apply for a Temporary Accommodation placement</h1>

        <p class="govuk-body">Temporary Accommodation (TA) is for people on probation who are at risk of homelessness on their first night of release. </p>

        <p class="govuk-body">This includes release from prison, an Approved Premises, or Bail Accommodation and Support Services.</p>

        <p class="govuk-body">Use this service to apply for a TA placement.</p>

        <h2>Before you start</h2>

        <h3>You need</h3>

        <ul>
          <li>to have consent from the person on probation to apply for TA</li>
          <li>to have completed a Duty to Refer and Commissioned Rehabilitative Services referral</li>
          <li>a signed <a href="">Accommodation Compact</a> from the person</li>
          <li>the person's CRN</li>
          <li>an up to date OASys – we'll use this to pre-fill some of your application</li>
        </ul>

        <h3>You need to know</h3>

        <ul>
          <li><a href="">eligibility requirements</a> for TA. You'll need to confirm that all other accommodation options have been considered</li>
          <li>factors that will have an impact on the placement location</li>
        </ul>

        {{ govukButton({
          text: "Start now",
          isStartButton: true,
          preventDoubleClick: true
        }) }}

        </form>
      </div>
    </div>
  {% endblock %}
