{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ govukBackLink({
		text: "Back",
		href: paths.applications.index()
	}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.new() }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h1>{{ pageHeading }}</h1>

        <p class="govuk-body">Use this service to apply for a placement in an Approved Premises (AP) on behalf of a person on probation/in custody.</p>

        <p class="govuk-body">If a person is leaving prison, you should aim to complete your application 6 months before they are released.</p>

        <p class="govuk-body">You can leave and return to your application at any time. Your progress will be saved.</p>

        {{ govukButton({
            text: "Start now",
            isStartButton: true
        }) }}

        <h2>Before you start</h2>

        <h3>You need:</h3>

        <ul>
          <li>an up to date OASys - we'll use this to pre-fill some of your application</li>
          <li>the person's CRN </li>
          <li>the oral hearing date, if applicable and if known</li>
        </ul>

        <h3>You need to know:</h3>

        <ul>
          <li>
            <a href="">eligibility requirements</a> - you'll need to demonstrate why an AP is necessary over other interventions and accommodation options</li>
          <li>factors impacting which location, type of AP, and type of room will be suitable</li>
          <li>how you'll prepare for move on after the AP</li>
          <ul></ul>

        </form>
      </div>
    </div>
  {% endblock %}
