{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../components/ta-date-input/macro.njk" import taDateInput %}
{% from "../../components/formFields/form-page-select/macro.njk" import formPageSelect %}
{% from "../../components/formFields/form-page-textarea/macro.njk" import formPageTextarea %}

{{ taDateInput(
    {
      fieldset: {
        legend: {
          text: "What is the start date?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      fieldName: "startDate",
      items: dateFieldValues('startDate', errors)
    },
    fetchContext()
  ) }}
{{ taDateInput(
    {
      fieldset: {
        legend: {
          text: "What is the expected end date?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      fieldName: "endDate",
      items: dateFieldValues('endDate', errors)
    },
    fetchContext()
  ) }}
{{ formPageSelect(
    {
        label: {
            text: "What is the reason for this void?",
                classes: "govuk-label--m"
            },
        items: convertObjectsToSelectOptions(lostBedReasons, "Select a reason", "name", "id", "reason"),
        fieldName: "reason"
          },
          fetchContext()
        ) }}
{{ formPageTextarea(
          {
            label: {
              text: "Please provide further details"
            },
            fieldName: "notes"
          },
          fetchContext()
        ) }}

{{ govukButton({
  text: "Submit"
}) }}
