{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "../../components/lost-bed-info/macro.njk" import lostBedInfo %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "../../components/location-header/macro.njk" import locationHeader %}
{% from "../../components/formFields/form-page-textarea/macro.njk" import formPageTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Cancel void booking - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ breadCrumb('Cancel a void booking', [
    {title: 'List of bedspaces', href: paths.premises.show({ premisesId: premises.id })},
    {title: 'View bedspace', href: paths.premises.bedspaces.show({ premisesId: premises.id, roomId: room.id })}
  ]) }}
{% endblock %}

{% block content %}
  {% include "../../_messages.njk" %}

  {{ mojPageHeaderActions({
    heading: {
      text: 'Cancel void booking',
      classes: 'govuk-heading-l'
    }
  }) }}

  {{ locationHeader({ premises: premises, room: room }) }}
  {{ lostBedInfo(lostBed) }}

  <form action="{{ paths.lostBeds.cancellations.create({ premisesId: premises.id, roomId: room.id, lostBedId: lostBed.id }) }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/> 
    
    {{ formPageTextarea({
      fieldName: "notes",
      label: {
        text: "Notes",
        classes: "govuk-!-font-weight-bold"
      }
    },
      fetchContext()
    ) }}
    {{ govukButton({
      text: "Submit"
    }) }}
  </form>
  
{% endblock %}
