{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/location-header/macro.njk" import locationHeader %}

{% set pageTitle = applicationName + " - Void bedspace" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ breadCrumb('Record void bedspace', [
    {title: 'List of properties', href: paths.premises.index()},
    {title: 'View a property', href: paths.premises.show({ premisesId: premises.id })},
    {title: 'View a bedspace', href: paths.premises.bedspaces.show({ premisesId: premises.id, roomId: room.id })}
  ]) }}
{% endblock %}

{% block content %}
  {% include "../../_messages.njk" %}
    
  <h1>Void a bedspace</h1>
  {{ showErrorSummary(errorSummary, errorTitle) }}

  {{ locationHeader({ premises: premises, room: room }) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="{{ paths.lostBeds.create({ premisesId: premises.id, roomId: room.id }) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <input type="hidden" name="bedId" value="{{ room.beds[0].id }}"/> {% include "./_editable.njk" %}
            </form>
        </div>
    </div>

{% endblock %}
