{% extends "../../layout.njk" %}

{% block questions %}

  {% set pageTitleHTML %}
    <span class="govuk-caption-l">{{ section.title }}</span>
    {{ page.title }}
  {% endset %}

  {% set itemsWithDetail = [] %}

  {% for item in page.items() %}

    {% set conditionalHtml %}
      {{ formPageTextarea({
        fieldName: item.value + "Detail",
        label: {
          text: item.detailLabel or "Provide details",
          classes: "govuk-label--s"
        },
        hint: {
          text: item.detailHint
        } if item.detailHint else undefined
      },fetchContext()) }}
    {% endset %}

    {% set itemsWithDetail = (
      itemsWithDetail.push(mergeObjects(item, {
        conditional: {
          html: conditionalHtml
        }
      })), itemsWithDetail)
    %}
  {% endfor %}

  {{ formPageCheckboxes({
    fieldName: "conditions",
    fieldset: {
      legend: {
        html: pageTitleHTML,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: itemsWithDetail
  }, fetchContext()) }}

{% endblock %}
