{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "./index.njk" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.assessments.index()
    }) }}
{% endblock %}

{% block tabs %}{% endblock %}
{% block archivedLink %}{% endblock %}
