{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{% extends "../../partials/layout.njk" %}
{% set pageTitle = "The person's referral - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: addPlaceContext(paths.assessments.summary({ id: assessment.id }))
    }) }}
{% endblock %}
{% set name = personName(assessment.application.person, 'Limited access offender') %}
{% block content %}
  {% include "../../_messages.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Review referral</span>
          {{ name }}
          {{ assessmentStatusTag(assessment.status) | safe }}
      </h1>

      {% for section in assessment.application.document.sections %}
        <h2 class="govuk-heading-m govuk-!-margin-top-3">{{ section.title }}</h2>
        {% for task in section.tasks %}
          {{ govukSummaryList({
            card: {
              title: {
                text: task.title,
                headingLevel: 3
              }
            },
            rows: taskResponsesToSummaryListRowItems(task.content, updatedResponses, rowActions)
          }) }}
        {% endfor %}
      {% endfor %}
      </div>
    </div>
{% endblock %}
