{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{% from "../../components/place-context-header/macro.njk" import placeContextHeader %}
{% extends "../../partials/layout.njk" %}
{% set pageTitle = "The person's referral - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: addPlaceContext(paths.assessments.summary({ id: assessment.id }))
    }) }}
    {{ placeContextHeader(placeContext) }}
{% endblock %}
{% set name = personName(assessment.application.person, 'Limited access offender') %}
{% block content %}
    {% include "../../_messages.njk" %}

    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title">
                    <h1 class="govuk-heading-xl">
                        <span class="govuk-caption-xl">Review referral</span>
                        {{ name }}
                        {{ assessmentStatusTag(assessment.status) | safe }}
                    </h1>
                </span>
            </div>
        </div>
    </div>

    <div class="govuk-!-margin-4">
        {% for section in assessment.application.document.sections %}
            <h2 class="govuk-heading-l govuk-!-margin-top-3">{{ section.title }}</h2>
            {% for task in section.tasks %}
                {{ govukSummaryList({
                    card: {
                        title: {
                            text: task.title
                        }
                    },
                    rows: taskResponsesToSummaryListRowItems(task.content, updatedResponses, rowActions)
                }) }}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
