{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../components/search-by-crn-or-name-form/macro.njk" import searchByCrnOrNameForm%}
{% from "../../components/search-by-crn-or-name-results/macro.njk" import searchByCrnOrNameResults%}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% extends "../../partials/layout.njk" %}

{% set uiStatus = status | replace('_', ' ') %}
{% set title = (uiStatus + ' referrals') | sentenceCase %}
{% set pageTitle = title + " - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{# TODO Move this HTML to the searchByCrnOrNameResult once HTML can be standardised between referrals and bookings #}
{% set resultsHtml %}
    {% if (tableRows|length > 0 ) or (not crnOrName) %}
        <div class="govuk-!-margin-bottom-4">
            {{ mojPagination(pagination) }}
        </div>

        {{ govukTable({
            firstCellIsHeader: true,
            head: tableHeaders,
            rows: tableRows
        }) }}

        {{ mojPagination(pagination) | replace('Pagination navigation', 'Pagination navigation after results') }}
    {% endif %}
{% endset %}


{% block beforeContent %}
    {{ breadCrumb('Referrals', []) }}
{% endblock %}

{% block content %}
    {% set context = fetchContext() %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    {% block tabs %}
        {{ mojSubNavigation({
            label: 'Secondary navigation',
            items: [
                {
                    text: 'Unallocated',
                    href: paths.assessments.unallocated(),
                    active: status == 'unallocated'
                },
                {
                    text: 'In review',
                    href: paths.assessments.inReview(),
                    active: status == 'in_review'
                },
                {
                    text: 'Ready to place',
                    href: paths.assessments.readyToPlace(),
                    active: status == 'ready_to_place'
                }
            ]
        }) }}
    {% endblock %}

    <div class="govuk-template govuk-!-padding-8 govuk-!-padding-bottom-static-3 govuk-!-margin-bottom-8">
        {{ searchByCrnOrNameForm({
            type: 'referrals',
            basePath: basePath, 
            uiStatus: uiStatus, 
            crnOrName: crnOrName
        })}}
    </div>

    {{ searchByCrnOrNameResults({
        type: 'referrals',
        errors: context.errors,
        uiStatus: uiStatus,
        tableRows: tableRows,
        resultsHtml: resultsHtml,
        crnOrName: crnOrName
    })}}

    {% block archivedLink %}
        <div class="govuk-!-margin-top-9">
            {{ govukButton({
                text: "View archived referrals",
                type: "button",
                href: paths.assessments.archive(),
                classes: "govuk-button--secondary"
            }) }}
        </div>
    {% endblock %}
{% endblock %}
