{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/badge/macro.njk" import mojBadge %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Referrals - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% set unallocatedTableHtml %}
  {{ 
    govukTable({
      firstCellIsHeader: true,
      attributes: {
        'data-module': 'moj-sortable-table'
      },
      head: tableHeaders,
      rows: unallocatedTableRows
    }) 
  }}
{% endset %}

{% set inProgressTableHtml %}
  {{ 
    govukTable({
      firstCellIsHeader: true,
      attributes: {
        'data-module': 'moj-sortable-table'
      },
      head: tableHeaders,
      rows: inProgressTableRows
    }) 
  }}
{% endset %}

{% set readyToPlaceTableHtml %}
  {{ 
    govukTable({
      firstCellIsHeader: true,
      attributes: {
        'data-module': 'moj-sortable-table'
      },
      head: tableHeaders,
      rows: readyToPlaceTableRows
    }) 
  }}
{% endset %}

{% block beforeContent %}
  {{ breadCrumb('Referrals', []) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ status | replace('_', ' ') | capitalize }} referrals</h1>

      {{
        mojSubNavigation({
          label: 'Secondary navigation',
          items: [
            {
              text: 'Unallocated',
              href: paths.assessments.unallocated()
            },
            {
              text: 'In review',
              href: paths.assessments.inReview()
            },
            {
              text: 'Ready to place',
              href: paths.assessments.readyToPlace()
            }
          ]
        })
      }}

      {{
        govukTable({
          firstCellIsHeader: true,
          captionClasses: "govuk-table__caption--m",
          attributes: {
            'data-module': 'moj-sortable-table'
          },
          head: tableHeaders,
          rows: tableRows
        })
      }}

      {{ 
        govukButton({
          text: "View archived referrals",
          type: "button",
          href: paths.assessments.archive(),
          classes: "govuk-button--secondary"
        }) 
      }}

    </div>
  </div>
{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    $(document).ready(function () {
      window
        .MOJFrontend
        .initAll()
    })
  </script>
{% endblock %}
