{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% extends "../../partials/layout.njk" %}

{% set uiStatus = status | replace('_', ' ') %}
{% set title = (uiStatus + ' referrals') | sentenceCase %}
{% set pageTitle = title + " - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ breadCrumb('Referrals', []) }}
{% endblock %}

{% block content %}
    {% set context = fetchContext() %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    {% block tabs %}
        {{ mojSubNavigation({
            label: 'Secondary navigation',
            items: [
                {
                    text: 'Unallocated',
                    href: paths.assessments.unallocated(),
                    active: status == 'unallocated'
                },
                {
                    text: 'In review',
                    href: paths.assessments.inReview(),
                    active: status == 'in_review'
                },
                {
                    text: 'Ready to place',
                    href: paths.assessments.readyToPlace(),
                    active: status == 'ready_to_place'
                }
            ]
        }) }}
    {% endblock %}

    <div class="govuk-template govuk-!-padding-8 govuk-!-padding-bottom-static-3 govuk-!-margin-bottom-8">
        <form action="{{ basePath }}" method="get">

            {{ govukInput(
                {
                    label: {
                    classes: 'govuk-label--m',
                    text: 'Search ' + uiStatus + ' referrals by CRN (case reference number)'
                },
                    hint: {
                    text: 'For example, XD7364CD'
                },
                    name: 'crn',
                    id: 'crn',
                    value: crn
                }
            ) }}

            <div class="govuk-button-group">
                {{ govukButton({ text: "Search", attributes: { id: 'search-button' }, preventDoubleClick: true}) }}

                <a class="govuk-link" href="{{ basePath }}">Clear</a>
            </div>
        </form>
    </div>

    {% if context.errors.crn %}
        <h2>You have not entered any search terms</h2>

        <p>Enter a CRN. This can be found in nDelius.</p>

        {% elif (tableRows|length > 0) or (not crn) %}

        <div class="govuk-!-margin-bottom-4">
            {{ mojPagination(pagination) }}
        </div>

        {{ govukTable({
            firstCellIsHeader: true,
            head: tableHeaders,
            rows: tableRows
        }) }}

        {{ mojPagination(pagination) | replace('Pagination navigation', 'Pagination navigation after results') }}

    {% else %}
        <h2>There are no results for ‘{{ crn }}’ in {{ uiStatus }} referrals.</h2>

        <p>Check the other lists.</p>

        <p>If the referral is missing from every list, <a href="mailto:{{ PhaseBannerUtils.supportEmail }}">contact
                support</a> for help.</p>
    {% endif %}

    {% block archivedLink %}
        <div class="govuk-!-margin-top-9">
            {{ govukButton({
                text: "View archived referrals",
                type: "button",
                href: paths.assessments.archive(),
                classes: "govuk-button--secondary"
            }) }}
        </div>
    {% endblock %}
{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" nonce="{{ cspNonce }}">
      $(document).ready(function() {
        window.MOJFrontend.initAll()
      })
    </script>
{% endblock %}
