{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../layout.njk" %}

{% block questions %}

  {{ govukRadios({
    idPrefix: "type",
    name: "type",
    errorMessage: errors.type,
    fieldset: {
      legend: {
        text: page.title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: page.items()
    }) }}

{% endblock %}
