{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {{ govukCheckboxes({
      name: "secretingHistory",
      errorMessage: errors.secretingHistory,
      fieldset: {
        legend: {
          text: page.questions.secretingHistory,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: page.secretingHistoryItems()
    }) }}

  {% set yesDetails %}
  {{ govukTextarea({
    id: "secretingIntelligenceDetails",
    name: "secretingIntelligenceDetails",
    type: "textarea",
    spellcheck: false,
    errorMessage: errors.secretingIntelligenceDetails,
    label: {
      text: page.questions.secretingIntelligenceDetails
    },
    value: secretingIntelligenceDetails
  }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "secretingIntelligence",
    name: "secretingIntelligence",
    errorMessage: errors.secretingIntelligence,
    hint: {
      text: "For example, DOS, JEXU or NSD."
    },
    fieldset: {
      legend: {
        text: page.questions.secretingIntelligence,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: secretingIntelligence == 'yes',
        conditional: {
          html: yesDetails
        }
      },
      {
        text: "No",
        value: "no",
        checked: secretingIntelligence == 'no'
      }
    ]
    }) }}

  <h2 class="govuk-heading-s">{{ page.questions.secretingNotes }}</h2>

  {{ govukTextarea({
      name: "secretingNotes",
      id: "secretingNotes",
      value: secretingNotes
  }) }}

{% endblock %}
