{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {{ govukCheckboxes({
      name: "cctvHistory",
      errorMessage: errors.cctvHistory,
      fieldset: {
        legend: {
          text: page.questions.cctvHistory,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: page.cctvHistoryItems()
    }) }}

  {% set yesDetails %}
  {{ govukTextarea({
    id: "cctvIntelligenceDetails",
    name: "cctvIntelligenceDetails",
    type: "textarea",
    spellcheck: false,
    errorMessage: errors.cctvIntelligenceDetails,
    label: {
      text: page.questions.cctvIntelligenceDetails
    },
    value: cctvIntelligenceDetails
  }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "cctvIntelligence",
    name: "cctvIntelligence",
    errorMessage: errors.cctvIntelligence,
    hint: {
      text: "For example, DOS, JEXU or NSD."
    },
    fieldset: {
      legend: {
        text: page.questions.cctvIntelligence,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: cctvIntelligence == 'yes',
        conditional: {
          html: yesDetails
        }
      },
      {
        text: "No",
        value: "no",
        checked: cctvIntelligence == 'no'
      }
    ]
    }) }}

  <h2 class="govuk-heading-s">{{ page.questions.cctvNotes }}</h2>

  {{ govukTextarea({
      name: "cctvNotes",
      id: "cctvNotes",
      value: cctvNotes
  }) }}

{% endblock %}
