{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "../layout.njk" %}

{% block questions %}

  {% set opdPathwayDateHTML %}
  {{ govukDateInput({
      id: "opdPathwayDate",
      namePrefix: "opdPathwayDate",
      errorMessage: errors.opdPathwayDate,
      fieldset: {
        legend: {
          text: page.questions.opdPathwayDate
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      },
      items: dateFieldValues('opdPathwayDate', errors)
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "opdPathway",
    name: "opdPathway",
    errorMessage: errors.opdPathway,
    fieldset: {
      legend: {
        text: page.title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: opdPathway == 'yes',
        conditional: {
          html: opdPathwayDateHTML
        }
      },
      {
        text: "No",
        value: "no",
        checked: opdPathway == 'no'
      }
    ]
    }) }}

{% endblock %}
