{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../layout.njk" %}

{% block questions %}

  {{ govukRadios({
      idPrefix: "pipeReferral",
      name: "pipeReferral",
      errorMessage: errors.pipeReferral,
      fieldset: {
        legend: {
          text: page.title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: pipeReferral == 'yes'
        },
        {
          value: "no",
          text: "No",
          checked: pipeReferral == 'no'
        }
      ]
    }) }}

  {{ govukTextarea({
      name: "pipeReferralMoreDetail",
      id: "pipeReferralMoreDetail",
      value: pipeReferralMoreDetail,
      label: {
        text: "Provide any additional detail about why xxxx needs a PIPE placement."
      }
    }) }}

{% endblock %}
