{% extends "govuk/template.njk" %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block head %}
    <script src="/assets/js/jquery.min.js"></script>
    <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}
{% endblock %}

{% block header %}
    {% include "./header.njk" %}
    {% include "./probationRegionHeader.njk" %}
    {% include "./phaseBanner.njk" %}
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script type="module" src="/assets/govukFrontendInit.js"></script>
    <script src="/assets/moj/all.js"></script>
    {% block extraScripts %}{% endblock %}
{% endblock %}

{% block footer %}
    {{ govukFooter({
        meta: {
            items: [
                {
                    href: paths.static.cookies({}),
                    text: "Cookies"
                },
                {
                    href: paths.static.accessibilityStatement({}),
                    text: "Accessibility statement"
                }
            ]
        },
        classes: 'govuk-!-display-none-print'
    }) }}
{% endblock %}
