{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  attributes: { "data-cy-phase-banner": "phase-banner" },
  classes: "hmpps-header__container exclude-from-print",
  tag: {
    text: "Beta"
  },
  html: PhaseBannerUtils.getContent(currentUrl)
}) }}
