{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro showErrorSummary(errorList, errorTitle) %}
  {% if errorList | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {{ govukErrorSummary({
          titleText: errorTitle if errorTitle else "There is a problem",
          errorList: errorList
        }) }}
      </div>
    </div>
  {% endif %}

{% endmacro %}
