{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../../partials/layout.njk" %}

{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.premises.v2.show({ premisesId: premises.id }),
        classes: "govuk-!-display-none-print"
    }) }}
{% endblock %}

{% block content %}
    {% include "../../../_messages.njk" %}

    {{ showErrorSummary(errorSummary) }}

    <h1 class="govuk-heading-l">When should {{ premises.addressLine1 }} be archived?</h1>

    {% set dateHtml %}
        {{ govukDateInput({
            id: "endDate" if archiveOption == 'other' else "otherDateInput",
            namePrefix: "endDate",
            fieldset: {
                legend: {
                    text: "Enter a date within the last 7 days or the next 3 months",
                    classes: "govuk-fieldset__legend--s"
                }
            },
            hint: {
                text: "Use numbers, for example 27 5 2025"
            },
            items: dateFieldValues("endDate", errors) if archiveOption == "other",
            errorMessage: errors.endDate if archiveOption == "other"
        }, mergeObjects(fetchContext())) }}
    {% endset %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="{{ paths.premises.v2.archive({ premisesId: premises.id }) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukRadios({
                    name: "archiveOption",
                    fieldset: {
                        legend: {
                            text: "When should " + premises.addressLine1 + " be archived?",
                            classes: "govuk-visually-hidden"
                        }
                    },
                    items: [
                        {
                            value: "today",
                            id: "endDate" if archiveOption == "today" else "today",
                            text: "Today",
                            checked: archiveOption == "today"
                        },
                        {
                            value: "other",
                            text: "Another date",
                            checked: archiveOption == "other",
                            conditional: {
                                html: dateHtml
                            }
                        }
                    ],
                    errorMessage: errors.endDate if archiveOption == "today"
                }) }}

                <p>This propertyʼs bedspaces will also be archived.</p>

                {{ govukButton({
                    text: "Submit",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
