{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../components/formFields/form-page-textarea/macro.njk" import formPageTextarea %}
{% from "../../components/formFields/form-page-date-input/macro.njk" import formPageDateInput %}
{% from "../../components/booking-info/macro.njk" import bookingInfo %}
{% from "../../components/location-header/macro.njk" import locationHeader %}
{% from "../../components/pop-details-header/macro.njk" import popDetailsHeader %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Mark booking as active - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.bookings.show({ premisesId: premises.id, roomId: room.id, bookingId: booking.id })
    }) }}
{% endblock %}

{% block content %}
    {% include "../../_messages.njk" %}

    {{ showErrorSummary(errorSummary, errorTitle) }}
    
    <h1 class="govuk-heading-l">Mark booking as active</h1>

    {{ popDetailsHeader(booking.person) }}
    {{ locationHeader({ premises: premises, room: room }) }}

    {{ bookingInfo(booking) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="{{ paths.bookings.arrivals.create({ premisesId: premises.id, roomId: room.id, bookingId: booking.id }) }}"
                  method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ formPageDateInput(
                    {
                        fieldset: {
                        legend: {
                            text: "What was the arrival date?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                        fieldName: "arrivalDate",
                        items: dateFieldValues('arrivalDate', errors)
                    },
                    fetchContext()
                ) }}

                {{ formPageDateInput(
                    {
                        fieldset: {
                        legend: {
                            text: "What is the expected departure date?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                        fieldName: "expectedDepartureDate",
                        items: dateFieldValues('expectedDepartureDate', errors)
                    },
                    fetchContext()
                ) }}

                {{ formPageTextarea(
                    {
                        label: {
                        text: "Please provide any further details"
                    },
                        fieldName: "notes"
                    },
                    fetchContext()
                ) }}

                {% if nDeliusUpdateMessage %}
                    {{ govukWarningText({
                        text: "You will need to record address and accommodation changes in NDelius. The CAS3 digital service does not automatically update NDelius.",
                        iconFallbackText: "Warning"
                    }) }}
                {% endif %}

                {{ govukButton({
                    text: "Submit",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
