{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/ta-textarea/macro.njk" import taTextarea %}
{% from "../components/ta-date-input/macro.njk" import taDateInput %}
{% from "../components/booking-info/macro.njk" import bookingInfo %}
{% from "../components/location-header/macro.njk" import locationHeader %}
{% from "../components/pop-details-header/macro.njk" import popDetailsHeader%}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Mark booking as active" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: paths.bookings.show({ premisesId: premises.id, roomId: room.id, bookingId: booking.id })
  }) }}
{% endblock %}

{% block content %}
  {% include "../../_messages.njk" %}

  <h1 class="govuk-heading-l">Mark booking as active</h1>

  {{ showErrorSummary(errorSummary, errorTitle) }}

  {{ popDetailsHeader(booking.person) }}
  {{ locationHeader({ premises: premises, room: room }) }}

  {{ bookingInfo(booking) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.bookings.arrivals.create({ premisesId: premises.id, roomId: room.id, bookingId: booking.id }) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ taDateInput(
          {
            fieldset: {
              legend: {
                text: "What was the arrival date?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            fieldName: "arrivalDate",
            items: dateFieldValues('arrivalDate', errors)
          },
          fetchContext()
        ) }}

        {{ taDateInput(
          {
            fieldset: {
              legend: {
                text: "What is the expected departure date?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            fieldName: "expectedDepartureDate",
            items: dateFieldValues('expectedDepartureDate', errors)
          },
          fetchContext()
        ) }}

        {{ taTextarea(
          {
            label: {
              text: "Please provide any further details"
            },
            fieldName: "notes"
          },
          fetchContext()
        ) }}

        {{ govukButton({
          text: "Submit",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
