<form action="/premises/{{premisesId}}/bookings/{{bookingId}}/arrivals" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
  {{ govukDateInput({
    id: "arrival[date]",
    namePrefix: "date",
    fieldset: {
    legend: {
        text: "What is the arrival date?",
        classes: "govuk-fieldset__legend--m"
        }
    },
    items: dateFieldValues('date', errors),
    errorMessage: errors.date,
    hint: {
        text: "For example, 27 3 2007"
    }
  }) }}

  {{ govukDateInput({
    id: "arrival[expectedDepartureDate]",
    namePrefix: "expectedDepartureDate",
    fieldset: {
    legend: {
        text: "What is their expected departure date?",
        classes: "govuk-fieldset__legend--m"
        }
    },
    items: dateFieldValues('expectedDepartureDate', errors),
    errorMessage: errors.expectedDepartureDate,
    hint: {
      text: "For example, 27 3 2007"
    }
  }) }}

  {{ govukTextarea({
    name: "arrival[notes]",
    id: "notes",
    label: {
      text: "Any other information"
    }
  }) }}

  {{ govukButton({
    name: 'arrival[submit]',
    text: "Submit"
  }) }}
</form>
