{% from "govuk/components/select/macro.njk" import govukSelect %}

<form action="{{ paths.bookings.arrivals.create({ premisesId: premisesId, bookingId: bookingId }) }}" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
  {{ govukDateInput({
    id: "arrival[date]",
    namePrefix: "date",
    fieldset: {
    legend: {
        text: "What is the arrival date?",
        classes: "govuk-fieldset__legend--m"
        }
    },
    items: dateFieldValues('date', errors),
    errorMessage: errors.date,
    hint: {
        text: "For example, 27 3 2007"
    }
  }) }}

  {{ govukDateInput({
    id: "arrival[expectedDepartureDate]",
    namePrefix: "expectedDepartureDate",
    fieldset: {
    legend: {
        text: "What is their expected departure date?",
        classes: "govuk-fieldset__legend--m"
        }
    },
    items: dateFieldValues('expectedDepartureDate', errors),
    errorMessage: errors.expectedDepartureDate,
    hint: {
      text: "For example, 27 3 2007"
    }
  }) }}

  {{ govukSelect({
      label: {
          text: "Key Worker",
          classes: "govuk-label--m"
      },
      classes: "govuk-input--width-20",
      id: "arrival_keyWorkerStaffId",
      name: "arrival[keyWorkerStaffId]",
      items: convertObjectsToSelectOptions(staffMembers, 'name', 'id', 'keyWorkerStaffId'),
      errorMessage: errors.keyWorkerStaffId
  }) }}

  {{ govukTextarea({
    name: "arrival[notes]",
    id: "notes",
    value: arrival.notes,
    label: {
      text: "Any other information"
    }
  }) }}

  {{ govukButton({
    name: 'arrival[submit]',
    text: "Submit"
  }) }}
</form>
