<form action="/premises/{{premisesId}}/bookings/{{bookingId}}/nonArrivals" method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
  {{ govukDateInput({
    id: "nonArrival[date]",
    namePrefix: "nonArrivalDate",
    fieldset: {
    legend: {
        text: "What was the expected arrival date?",
        classes: "govuk-fieldset__legend--m"
        }
    },
    items: dateFieldValues('date', errors),
    errorMessage: errors.date,
    hint: {
        text: "For example, 27 3 2007"
    }
  }) }}

  {{ govukRadios({
  name: "nonArrival[reason]",
  fieldset: {
    legend: {
      text: "Reason",
      classes: "govuk-fieldset__legend--m"
    }
  },
  errorMessage: errors.reason,
  items: [
    {
      value: "absconded",
      text: "Absconded"
    },
    {
      value: "recalled",
      text: "Recalled"
    }
  ]
  }) }}

  {{ govukTextarea({
    name: "nonArrival[notes]",
    id: "nonArrival[notes]",
    label: {
      text: "Any other information"
    }
  }) }}

  {{ govukButton({
    name: 'nonArrival[submit]',
    text: "Submit"
  }) }}
</form>
