{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ govukBackLink({
		text: "Back",
		href: "/premises/" + premisesId + "/bookings/" + bookingId
	}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ showErrorSummary(errorSummary) }}

      {% set arrivalHTML %}
      {% include "./_arrival_form.njk" %}
      {% endset -%}

      {% set nonArrivalHTML %}
      {% include "./_non-arrival_form.njk" %}
      {% endset -%}

      {{ govukRadios({
            name: "arrived",
            fieldset: {
              legend: {
                text: "Did the resident arrive?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select one option."
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: arrival|length,
                conditional: {
                  html: arrivalHTML
                }
              },
              {
                value: "No",
                text: "No",
                checked: nonArrival|length,
                conditional: {
                  html: nonArrivalHTML
                }
              }
            ]
          })
        }}
    </div>
  </div>
{% endblock %}
