# we include the API_CLIENT_ID and API_CLIENT_SECRET in all UI repo .env files. This is because these secrets are unique to each UI and so they cannot be generated using AP tools env.ui.template
API_CLIENT_ID=${API_CLIENT_ID}
API_CLIENT_SECRET=${API_CLIENT_SECRET}
