CYPRESS_assessor_username=${GH_CAS3_ASSESSOR_USERNAME}
CYPRESS_assessor_password=${GH_CAS3_ASSESSOR_PASSWORD}
CYPRESS_referrer_username=${GH_CAS3_REFERRER_USERNAME}
CYPRESS_referrer_password=${GH_CAS3_REFERRER_PASSWORD}
CYPRESS_acting_user_probation_region_id=ca979718-b15d-4318-9944-69aaff281cad
CYPRESS_acting_user_probation_region_name=East%20of%20England
CYPRESS_environment=local