CYPRESS_assessor_username=${CAS3_ASSESSOR_USERNAME}
CYPRESS_assessor_password=${CAS3_ASSESSOR_PASSWORD}
CYPRESS_referrer_username=${CAS3_REFERRER_USERNAME}
CYPRESS_referrer_password=${CAS3_REFERRER_PASSWORD}
CYPRESS_environment=local
