ASSESSOR_USERNAME=${CAS3_ASSESSOR_USERNAME}
ASSESSOR_PASSWORD=${CAS3_ASSESSOR_PASSWORD}
REFERRER_USERNAME=${CAS3_REFERRER_USERNAME}
REFERRER_PASSWORD=${CAS3_REFERRER_PASSWORD}

ACTING_USER_PROBATION_REGION_ID=ca979718-b15d-4318-9944-69aaff281cad
ACTING_USER_PROBATION_REGION_NAME=East of England

LOCAL_PLAYWRIGHT_BASE_URL=http://localhost:3000