{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Extend booking" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    {{ govukBackLink({
		text: "Back",
		href: paths.bookings.show({ premisesId: premisesId, bookingId: booking.id })
	}) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="{{ paths.bookings.extensions.create({ premisesId: premisesId, bookingId: booking.id }) }}" method="post">

                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <h1>Extend booking</h1>

                {{ govukSummaryList({
                rows: [
                   {
                    key: {
                        text: "Name"
                    },
                    value: {
                        text: booking.name
                    }
                    },
                    {
                    key: {
                        text: "CRN"
                    },
                    value: {
                        text: booking.person.crn
                    }
                    },
                    {
                    key: {
                        text: "Expected arrival date"
                    },
                    value: {
                        text: formatDate(booking.arrivalDate)
                    }
                    },
                    {
                    key: {
                        text: "Current expected departure date"
                    },
                    value: {
                        text: formatDate(booking.departureDate)
                    }
                    }
                ]
            }) }}
                {{ showErrorSummary(errorSummary) }}

                {{ govukDateInput({
                    id: "newDepartureDate",
                    namePrefix: "newDepartureDate",
                    fieldset: {
                    legend: {
                        text: "What is the extended expected departure date?",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                    text: "For example, 27 3 2007"
                    },
                    items: dateFieldValues('newDepartureDate', errors),
                    errorMessage: errors.newDepartureDate
                }) }}

                {{ govukButton({
                    text: "Submit"
                }) }}
            </div>
        </div>
    {% endblock %}
