{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "../layout.njk" %}

{% block questions %}

  {% include "./partials/_navigation.njk" %}

    {% set foodAllergiesDetailHtml %}
      {{ formPageTextarea({
          fieldName: 'foodAllergiesDetail',
          label: {
            text: "Provide details",
            classes: "govuk-label--s"
          }
      },fetchContext()) }}
    {% endset %}

  {{ formPageRadios({
      fieldName: "foodAllergies",
      fieldset: {
        legend: {
          text: page.questions.foodAllergies,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: foodAllergiesDetailHtml
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
    },fetchContext()) }}

    {% set detailsHtml %}
      <p>Temporary Accommodation placements provide a welcome pack that includes food.</p>
      <p>The information provided will help make sure that any allergies or dietary requirements are catered for.</p>
    {% endset %}

    {{ govukDetails({
      summaryText: "View guidance",
      html: detailsHtml
    }) }}
{% endblock %}
