{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "../layout.njk" %}

{% set buttonText = "Next" %}
{% block questions %}

  {% include "./partials/_navigation.njk" %}

  {% set roomSharingDetailHtml %}
    {{ formPageTextarea({
        fieldName: 'roomSharingDetail',
        label: {
          text: "Provide details on how you will manage risk if the person is placed in shared accommodation",
          classes: "govuk-label--s"
        }
    },fetchContext()) }}
  {% endset %}

  {{ formPageRadios({
      fieldName: "roomSharing",
      fieldset: {
        legend: {
          text: page.questions.roomSharing,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: roomSharingDetailHtml
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
    },fetchContext()) }}

    {% set detailsHtml %}
      <p>Temporary Accommodation placements can be shared with other people on probation. Usually there are no more than 6 people in shared accommodation. Consider:</p>
      <ul>
        <li>whether the person had any cell sharing issues in custody</li>
        <li>whether the person has previously shared accommodation, for example in an Approved Premises (AP) or Bail Accommodation and Support Services (BASS)</li>
        <li>the potential for violent confrontations</li>
        <li>whether the person has issues with drug and/or alcohol misuse</li>
        <li>whether the person has any vulnerabilities</li>
      </ul>
    {% endset %}

    {{ govukDetails({
      summaryText: "View guidance",
      html: detailsHtml
    }) }}
{% endblock %}
