{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../../../components/formFields/form-page-checkboxes/macro.njk" import formPageCheckboxes %}
{% from "../../../components/formFields/form-page-radios/macro.njk" import formPageRadios %}
{% from "../../../components/formFields/form-page-date-input/macro.njk" import formPageDateInput %}
{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}
{% from "../../../components/formFields/form-page-select/macro.njk" import formPageSelect %}
{% from "../../../components/ta-checkboxes/macro.njk" import taCheckboxes %}
{% from "../../../components/place-context-value/macro.njk" import placeContextValue %}

{{ placeContextValue(placeContext) }}

{% call govukFieldset({
    legend: {
        text: "Dates",
        classes: "govuk-fieldset__legend--m"
    }
}) %}

    {{ formPageDateInput({
        fieldset: {
            legend: {
                text: "Available from",
                classes: "govuk-fieldset__legend--s"
            }
        },
        fieldName: "startDate",
        items: dateFieldValues('startDate', errors),
        hint: {
            text: dateInputHint('future')
        }
    }, fetchContext()) }}

    {{ formPageInput({
        label: {
            text: 'Number of days required',
            classes: "govuk-label--s"
        },
        classes: "govuk-input--width-2",
        fieldName: "durationDays",
        inputmode: "numeric",
        spellcheck: false
    }, fetchContext()) }}

{% endcall %}

{{ taCheckboxes({
    classes: "govuk-checkboxes--small",
    fieldset: {
        legend: {
            text: "Probation Delivery Unit (PDU)",
            classes: "govuk-fieldset__legend--m"
        }
    },
    hint: {
        text: "Select up to 5 PDUs"
    },
    items: convertObjectsToCheckboxItems(allPdus, 'name', 'id', 'probationDeliveryUnits'),
    fieldName: "probationDeliveryUnits"
}, fetchContext()) }}

<section>
	<div class="govuk-form-group">
		{% call govukFieldset({
			legend: {
				text: "Property attributes",
				classes: "govuk-fieldset__legend--m"
			}
		}) %}
			{{ formPageRadios({
				classes: "govuk-radios--small",
				fieldName: "occupancyAttribute",
				fieldset: {
					legend: {
						text: "Occupancy",
						classes: "govuk-fieldset__legend--s"
					}
				},
				items: occupancyItems
			}, fetchContext()) }}
			{{ formPageCheckboxes({
				classes: "govuk-checkboxes--small",
				fieldName: "sexualRiskAttributes",
				fieldset: {
					legend: {
						text: "Suitable for a person with sexual risk (optional)",
						classes: "govuk-fieldset__legend--s"
					}
				},
				items: sexualRiskItems
			}, fetchContext()) }}
		{% endcall %}
	</div>
	<div class="govuk-form-group">
		{% call govukFieldset({
		    legend: {
		        text: "Bedspace attributes",
		        classes: "govuk-fieldset__legend--m"
		    }
		}) %}
		    {{ formPageCheckboxes({
		            classes: "govuk-checkboxes--small",
		            fieldName: "accessibilityAttributes",
		            fieldset: {
		                legend: {
		                    text: "Accessibility (optional)",
		                    classes: "govuk-fieldset__legend--s"
		                }
		            },
		            items: wheelchairAccessibilityItems
		        }, fetchContext()) }}
		{% endcall %}
	</div>
</section>
