{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
            titleText: pageHeading
            }) }}
            {{ govukSummaryList({
                rows: [
                   {
                    key: {
                        text: "Name"
                    },
                    value: {
                        text: name
                    }
                    },
                    {
                    key: {
                        text: "CRN"
                    },
                    value: {
                        text: crn
                    }
                    },
                    {
                    key: {
                        text: "Departure date"
                    },
                    value: {
                        text: dateTime
                    }
                    },
                    {
                    key: {
                        text: "Reason"
                    },
                    value: {
                        text: reason.name
                    }
                    },
                    {
                    key: {
                        text: "Move on category"
                    },
                    value: {
                        text: moveOnCategory.name
                    }
                    },
                    {
                    key: {
                        text: "Destination approved premises"
                    },
                    value: {
                        text: destinationAp.name
                    }
                    },
                       {
                    key: {
                        text: "Destination provider"
                    },
                    value: {
                        text: destinationProvider.name
                    }
                    },
                    {
                    key: {
                        text: "Move on category"
                    },
                    value: {
                        text: moveOnCategory.name
                    }
                    },
                    {
                    key: {
                        text: "Notes"
                    },
                    value: {
                        text: notes
                    }
                    }
                ]
            }) }}
        </div>
    </div>

    <p class="govuk-body">
        <a href="/premises"> Back to dashboard</a>
    </p>

{% endblock %}
