{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {{ govukBackLink({
      text: "Back",
	  href: paths.bookings.show({ premisesId: premisesId, bookingId: booking.id })
    }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1>{{pageHeading}}</h1>

            <form action="{{ paths.bookings.departures.create({ premisesId: premisesId, bookingId: booking.id }) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                {{ govukSummaryList({
                rows: [
                   {
                    key: {
                        text: "Name"
                    },
                    value: {
                        text: booking.person.name
                    }
                    },
                    {
                    key: {
                        text: "CRN"
                    },
                    value: {
                        text: booking.person.crn
                    }
                    }
                    ]
            })
            }}

                {{ showErrorSummary(errorSummary) }}

                {{ govukDateInput({
                    id: "dateTime",
                    namePrefix: "dateTime",
                    fieldset: {
                        legend: {
                            text: "What is the departure date?",
                            classes: "govuk-fieldset__legend--m"
                            }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    },
                    errorMessage: errors.dateTime,
                    items: dateFieldValues('dateTime', errors)
                }) }}

                <label class="govuk-label govuk-label--m" for="time">
                    What is the time of departure?
                </label>
                <input type="time" id="dateTime-time" name="dateTime-time" class="govuk-input govuk-input--width-5 govuk-!-margin-bottom-4">

                {{ govukRadios({
                    name: "departure[reason]",
                    id: "reason",
                    fieldset: {
                        legend: {
                        text: "Departure reason",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: errors.reason,
                    items: convertObjectsToRadioItems(referenceData.departureReasons, 'name', 'id', 'departure[reason]')
                    }) }}

                {{ govukRadios({
                    name: "departure[moveOnCategory]",
                    id: "moveOnCategory",
                    fieldset: {
                        legend: {
                        text: "Move on category",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: errors.moveOnCategory,
                    items: convertObjectsToRadioItems(referenceData.moveOnCategories, 'name', 'id', 'departure[moveOnCategory]')
                    }) }}

                {{ govukRadios({
                    name: "departure[destinationProvider]",
                    id: "destinationProvider",
                    fieldset: {
                        legend: {
                        text: "Destination provider",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: errors.destinationProvider,
                    items: convertObjectsToRadioItems(referenceData.destinationProviders, 'name', 'id', 'departure[destinationProvider]')
                    }) }}

                {{ govukTextarea({
                    name: "departure[notes]",
                    id: "notes",
                    label: {
                    text: "Any other information"
                    }
                }) }}

                {{ govukButton({
                    text: "Submit"
                }) }}
            </form>

        </div>
    </div>
{% endblock %}
