{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1>Log a departure</h1>

            <form action="/premises/{{premisesId}}/bookings/{{booking.id}}/departures" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                {{ govukSummaryList({
                rows: [
                   {
                    key: {
                        text: "Name"
                    },
                    value: {
                        text: booking.name
                    }
                    },
                    {
                    key: {
                        text: "CRN"
                    },
                    value: {
                        text: booking.CRN
                    }
                    }
                    ]
            })
            }}

                {{ showErrorSummary(errorSummary) }}

                {{ govukDateInput({
                    id: "dateTime",
                    namePrefix: "dateTime",
                    fieldset: {
                        legend: {
                            text: "What is the departure date?",
                            classes: "govuk-fieldset__legend--m"
                            }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    },
                    errorMessage: errors.dateTime,
                    items: dateFieldValues('dateTime', errors)
                }) }}

                <label class="govuk-label govuk-label--m" for="time">
                    What is the time of departure?
                </label>
                <input type="time" id="dateTime-time" name="dateTime-time" class="govuk-input govuk-input--width-5 govuk-!-margin-bottom-4">

                {{ govukRadios({
                    name: "departure[reason]",
                    id: "reason",
                    fieldset: {
                        legend: {
                        text: "Departure reason",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: errors.reason,
                    items: convertObjectsToRadioItems(referenceData.departureReasons, 'name', 'id', 'departure[reason]')
                    }) }}

                {{ govukRadios({
                    name: "departure[moveOnCategory]",
                    id: "moveOnCategory",
                    fieldset: {
                        legend: {
                        text: "Move on category",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: errors.moveOnCategory,
                    items: convertObjectsToRadioItems(referenceData.moveOnCategories, 'name', 'id', 'departure[moveOnCategory]')
                    }) }}

                {{ govukRadios({
                    name: "departure[destinationProvider]",
                    id: "destinationProvider",
                    fieldset: {
                        legend: {
                        text: "Destination provider",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: errors.destinationProvider,
                    items: convertObjectsToRadioItems(referenceData.destinationProviders, 'name', 'id', 'departure[destinationProvider]')
                    }) }}

                {{ govukSelect({
                    name: "departure[destinationAp]",
                    id: "destinationAp",
                    label: {
                        text: "Destination Approved Premises",
                        classes: "govuk-label govuk-label--m"
                        },
                    items: premisesSelectList,
                    errorMessage: errors.expectedDepartureDate
                    }) }}

                {{ govukTextarea({
                    name: "departure[notes]",
                    id: "notes",
                    label: {
                    text: "Any other information"
                    }
                }) }}

                {{ govukButton({
                    text: "Submit"
                }) }}
            </form>

        </div>
    </div>
{% endblock %}
