{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if infoMessages %}
  {% for message in infoMessages %}
    {{ govukNotificationBanner({
      titleText: 'Important',
      html: '<div class="govuk-heading-s">' + message + '</div>'
    }) }}
  {% endfor %}
{% endif %}

{% if successMessages %}
  {% for message in successMessages %}

    {% if message is string %}
      {{ govukNotificationBanner({
        html: '<h3 class="govuk-!-margin-top-2">' + message + '</h3>',
        type: 'success'
      }) }}
    {% else %}
      {{ govukNotificationBanner({
        html: '<h3 class="govuk-!-margin-top-2">' + message.title + '</h3><p class="govuk-body">' + message.text + '</p>',
        type: 'success'
      }) }}
    {% endif %}

  {% endfor %}
{% endif %}
