{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if infoMessages %}
  {% for message in infoMessages %}
    {{ govukNotificationBanner({
      titleText: 'Important',
      html: '<div class="govuk-heading-s">' + message + '</div>'
    }) }}
  {% endfor %}
{% endif %}

{% if successMessages %}
  {% for message in successMessages %}
    {{ govukNotificationBanner({
      html: '<h3 class="govuk-!-margin-top-2">' + message + '</h3>',
      type: 'success'
    }) }}
  {% endfor %}
{% endif %}
