{{ formPageInput({
  fieldName: "name",
  label: {
    text: "Name"
  }
}, fetchContext()) }}

{{ formPageInput({
  fieldName: "phone",
  label: {
    text: "Phone number"
  }
}, fetchContext()) }}

{{ formPageInput({
  fieldName: "email",
  label: {
    text: "Email"
  }
}, fetchContext()) }}
