{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../components/formFields/form-page-textarea/macro.njk" import formPageTextarea %}
{% from "../../components/ta-date-input/macro.njk" import taDateInput %}
{% from "../../components/ta-select/macro.njk" import taSelect %}

{{ taDateInput(
    {
        fieldset: {
        legend: {
            text: "What was the departure date?",
            classes: "govuk-fieldset__legend--m"
        }
    },
        fieldName: "dateTime",
        items: dateFieldValues('dateTime', errors)
    },
    fetchContext()
) }}

{{ taSelect(
    {
        label: {
        text: "What was the departure reason?",
        classes: "govuk-label--m"
    },
        items: convertObjectsToSelectOptions(allDepartureReasons, "Select a departure reason", "name", "id", "reasonId"),
        fieldName: "reasonId"
    },
    fetchContext()
) }}

{{ taSelect(
    {
        label: {
        text: "What was the move on category?",
        classes: "govuk-label--m"
    },
        items: convertObjectsToSelectOptions(allMoveOnCategories, "Select a move on category", "name", "id", "moveOnCategoryId"),
        fieldName: "moveOnCategoryId"
    },
    fetchContext()
) }}

{{ formPageTextarea(
    {
        label: {
        text: "Please provide any further details"
    },
        fieldName: "notes"
    },
    fetchContext()
) }}

{% if nDeliusUpdateMessage %}
    {{ govukWarningText({
        text: "You will need to record address and accommodation changes in nDelius. The CAS3 digital service does not automatically update nDelius.",
        iconFallbackText: "Warning"
    }) }}
{% endif %}

{{ govukButton({
    text: "Submit",
    preventDoubleClick: true
}) }}