{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "../layout.njk" %}

{% set columnClasses = "govuk-grid-column-full applications--pages--attach-documents" %}

{% block questions %}
  <h1 class="govuk-heading-l">{{page.title}}</h1> 
  
  <p>These documents are imported from NDelius. </p>
  <p>Select any additional documents that you want to include to support your application. </p>

  {% set detailsHTML %}
  <strong>All applications should include the following documents:</strong>
           <ul class="govuk-list govuk-list--bullet">
              <li>CPS documents from current event</li>
              <li>Previous convictions </li>
          </ul>

          <b>Applications should include the following documents where they are available:</b>
          <ul class="govuk-list govuk-list--bullet">
            <li>Active Risk Management System (ARMS) assessment</li>
            <li>Bail notice</li>
            <li>Care Act assessment</li>
            <li>Domestic violence prevention orders</li>
            <li>Exclusion zone map</li>
            <li>Parole reports</li>
            <li>Pre-sentence reports  </li>
            <li>Psychiatric reports</li>
            <li>Restraining orders</li>
            <li>Sexual harm prevention order (SHPO)</li>
            <li>Sexual offence registrations</li>
            <li>Violent Offender Order (VOO)</li>
          </ul>
  {% endset %}

  {{
    govukDetails({
      summaryText: "Which documents are required?",
      html: detailsHTML
    })
  }}

  <p class="applications--pages--attach-document__results">Showing <b>{{ page.documents | length }}</b> documents</p>

  {{ govukTable({
    firstCellIsHeader: true,
    classes: "applications--pages--attach-document__table",
    head: [
      {
        html: "Document name",
        classes: "applications--pages--attach-document__header-name"
      },
      {
        text: "Date uploaded to Delius",
        classes: "applications--pages--attach-document__header-date"
      },
      {
        text: "Download",
        classes: "applications--pages--attach-document__header-download"
      },
      {
        text: "Provide description",
        classes: "applications--pages--attach-document__header-description"
      }
    ],
    rows: AttachDocumentsUtils.tableRows(page.documents, page.body.selectedDocuments, page.application, errors)
  }) }}

{% endblock %}
