{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../../layout.njk" %}

{% block questions %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ section.title }}</span>
    {{ page.title }}
  </h1>

  {% set foodAllergiesYesDetailHtml %}
    {{ formPageTextarea({
        fieldName: 'foodAllergiesDetail',
        label: {
          text: "Provide details",
          classes: "govuk-label--s"
        }
    },fetchContext()) }}
  {% endset %}

  {% set foodAllergiesIDontKnowWarningHtml %}
    {% set warningHtml %}
      <p class="govuk-body">If a placement is offered, you must find out whether the person has any food allergies and let the housing supplier know.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: warningHtml
    }) }}
  {% endset %}

  {{ formPageRadios({
    fieldName: "foodAllergies",
    fieldset: {
      legend: {
        text: page.questions.foodAllergies,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: foodAllergiesYesDetailHtml
        }
      },
      {
        value: "no",
        text: "No"
      },
      {
        value: "iDontKnow",
        text: "I don't know",
        conditional: {
          html: foodAllergiesIDontKnowWarningHtml
        }
      }
    ]
  },fetchContext()) }}

  {% set detailsHtml %}
    <p class="govuk-body">Transitional Accommodation (CAS3) placements provide a welcome pack that includes food.</p>
    <p class="govuk-body">The information provided will help make sure that any allergies or dietary requirements are catered for.</p>
  {% endset %}

  {{ govukDetails({
    summaryText: "View guidance",
    html: detailsHtml
  }) }}
{% endblock %}
