version: 2.1

orbs:
  hmpps: ministryofjustice/hmpps@5.1
  slack: circleci/slack@4.4.2

parameters:
  alerts-slack-channel:
    type: string
    # Normally team specific alert channel e.g. hmpps_tech_alerts, syscon-alerts, dps_sed_alerts
    # This is to avoid a general alert dumping ground that no-one then monitors
    default: approved-premises-team-dev

  releases-slack-channel:
    type: string
    # Normally dps-releases for most teams / projects
    default: hmpps_typescript_notifications

  node-version:
    type: string
    default: 16.15-browsers

jobs:
  check_outdated:
    executor:
      name: hmpps/node
      tag: << pipeline.parameters.node-version >>
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: install-npm
          command: 'npm ci --no-audit'
      - run:
          name: Check version
          command: 'npm --version'
      - run:
          name: Run check
          command: 'npm outdated typescript govuk-frontend'
      - slack/notify:
          event: fail
          channel: << pipeline.parameters.alerts-slack-channel >>
          template: basic_fail_1

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - hmpps/helm_lint:
          name: helm_lint
      - hmpps/build_multiplatform_docker:
          name: build_docker
          filters:
            branches:
              only:
                - main
      - hmpps/deploy_env:
          name: deploy_dev
          env: 'dev'
          jira_update: true
          context: hmpps-common-vars
          filters:
            branches:
              only:
                - main
          requires:
            - helm_lint
            - build_docker

  #      - request-preprod-approval:
  #          type: approval
  #          requires:
  #            - deploy_dev
  #      - hmpps/deploy_env:
  #          name: deploy_preprod
  #          env: "preprod"
  #          jira_update: true
  #          jira_env_type: staging
  #          context:
  #            - hmpps-common-vars
  #            - approved-premises-ui-preprod
  #          requires:
  #            - request-preprod-approval
  #      - request-prod-approval:
  #          type: approval
  #          requires:
  #            - deploy_preprod
  #      - hmpps/deploy_env:
  #          name: deploy_prod
  #          env: "prod"
  #          jira_update: true
  #          jira_env_type: production
  #          slack_notification: true
  #          slack_channel_name: << pipeline.parameters.releases-slack-channel >>
  #          context:
  #            - hmpps-common-vars
  #            - approved-premises-ui-prod
  #          requires:
  #            - request-prod-approval

  security:
    triggers:
      - schedule:
          cron: '1 7 * * 1-5'
          filters:
            branches:
              only:
                - main
    jobs:
      - check_outdated:
          context:
            - hmpps-common-vars
      - hmpps/npm_security_audit:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - hmpps-common-vars
      - hmpps/trivy_latest_scan:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - hmpps-common-vars
      - hmpps/veracode_pipeline_scan:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - veracode-credentials
            - hmpps-common-vars
  security-weekly:
    triggers:
      - schedule:
          cron: '20 7 * * 1'
          filters:
            branches:
              only:
                - main
    jobs:
      - hmpps/veracode_policy_scan:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - veracode-credentials
            - hmpps-common-vars
