.temporary-accommodation-premises-show, .temporary-accommodation-bedspaces-show {
  .details {
    ul {
      padding-inline-start: 0px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
    li {
      list-style-type: none
    }
  }
}
