{% from "../../../../components/riskWidgets/rosh-widget/macro.njk" import roshWidget %}
{% from "../../../../components/riskWidgets/mappa-widget/macro.njk" import mappaWidget %}
{% from "../../../../components/riskWidgets/risk-flag-widget/macro.njk" import riskFlagWidget %}

{% extends "../../layout.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}
{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ section.title }}</span>
    {{ page.title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="risk-widgets-columns">
        {{ roshWidget(page.risks.roshRisks) }}
        {{ mappaWidget(page.risks.mappa) }}
        {{ riskFlagWidget(page.risks.flags)}}
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">RoSH levels and risk flags that require approval</h2>
      <p class="govuk-body">As a minimum the following RoSH levels and risk flags require the approvals outlined below</p>

      <h3 class="govuk-heading-s">High or Very High RoSH and/or MAPPA level 2:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Senior probation officer</li>
      </ul>
      

      <h3 class="govuk-heading-s">MAPPA level 3 and/or arson risk flag:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Head of probation delivery unit</li>
      </ul>

      <h3 class="govuk-heading-s">Sexual offending and/or TACT risk flags:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Head of probation delivery unit</li>
        <li>Head of operations</li>
        <li>Regional probation director</li>
      </ul>

      <h2 class="govuk-heading-m">Regional differences in approvals</h2>

      <p class="govuk-body">There are regional differences in what approvals are required and when.</p>
      <p class="govuk-body">Some regions require approvals before a referral is submitted. Others do not require approvals until an address is proposed by the homelessness prevention team (HPT).</p>
      <p class="govuk-body">Please ensure you have the approvals as specified within your region before you continue. If you are unclear please contact your regional HPT.</p>

      {% set itemsWithDetail = [] %}
      {% set conditionalHtml %}
        {{ formPageTextarea({
          fieldName: "approvalsDetail",
          label: {
            text: "Provide details of who gave approval and the date it was given",
            classes: "govuk-label--s"
          }
        },fetchContext()) }}
      {% endset %}

      {% for item in page.items() %}
        {% set itemsWithDetail = (
          itemsWithDetail.push(mergeObjects(item, {
            conditional: { html: conditionalHtml } if item.value === 'yes' else undefined
          })), itemsWithDetail)
        %}
      {% endfor %}

      {{ formPageRadios({
        fieldset: {
          legend: {
            text: page.questions.approvals,
            classes: "govuk-fieldset__legend--m"
          }
        },
        fieldName: "approvals",
        items: itemsWithDetail
      }, fetchContext()) }}
    </div>
  </div>

{% endblock %}
