{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "../bookings/_table.njk" import bookingTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + premises.name %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "premises-show" %}

{% block content %}

  {{ govukBackLink({
		text: "Back",
		href: paths.premises.index()
	}) }}

  {% include "../_messages.njk" %}

  {{ mojIdentityBar({
      title: {
        html: "<h1>" + premises.name + "</h1>"
      },
      menus: [{
        items: [{
          text: "Create a booking",
          classes: "govuk-button--secondary",
          href: paths.bookings.new({premisesId: premisesId})
        }, {
          text: "Record a lost bed",
          classes: "govuk-button--secondary",
          href: paths.lostBeds.new({premisesId: premisesId})
        }]
      }]
    }) }}

  {{
		govukSummaryList(premises.summaryList)
	}}

  <h2>Arrivals and Departures</h2>

  {{ govukTabs({
  items: [
    {
      label: "Arriving Today",
      id: "arriving-today",
      panel: {
        html: bookingTable("Arriving Today", "Arrival", bookings.arrivingToday)
      }
    },
    {
      label: "Departing Today",
      id: "departing-today",
      panel: {
        html: bookingTable("Departing Today", "Departure", bookings.departingToday)
      }
    },
    {
      label: "Upcoming Arrivals",
      id: "upcoming-arrivals",
      panel: {
        html: bookingTable("Upcoming Arrivals", "Arrival", bookings.upcomingArrivals)
      }
    },
    {
      label: "Upcoming Departures",
      id: "upcoming-departures",
      panel: {
        html: bookingTable("Upcoming Departures", "Departure", bookings.upcomingDepartures)
      }
    }
  ]
}) }}

  <h2>Current Residents</h2>

  {{ govukTable({
    caption: "Current Residents",
    captionClasses: "govuk-visually-hidden",
    firstCellIsHeader: true,
    head: [
      {
        text: "Resident"
      },
      {
        text: "Expected Departure Date"
      },
      {
        text: "Actions"
      }
    ],
    rows: currentResidents
  }) }}

{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
  </script>
{% endblock %}
