{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/ta-select/macro.njk" import taSelect %}
{% from "../components/ta-input/macro.njk" import taInput %}
{% from "../../components/datePicker/macro.njk" import hmppsDatepicker %}

{% set pageTitle = "Reports - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block extraScripts %}
    <script type="text/javascript" nonce="{{ cspNonce }}" src="/assets/js/datepicker.js"></script>
    <script type="text/javascript" nonce="{{ cspNonce }}" src="/assets/js/reset-errors.js"></script>
{% endblock %}

{% block beforeContent %}
    {{ breadCrumb('Reports', []) }}
{% endblock %}

{% block content %}
    {% include "../../_messages.njk" %}
    {% set context = fetchContext() %}

    {{ showErrorSummary(errorSummary) }}

    <h1 class="govuk-heading-l">Reports</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-8">CAS3 reporting data must not be shared externally or with
                other MoJ teams without permission. Contact
                <a href="mailto:centralhpt@justice.gov.uk" class="govuk-link">centralhpt@justice.gov.uk</a>
                to request this.</p>

            <form action="{{ paths.reports.create() }}" method="post" data-reset-errors-on-submit="true">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    
                {{ taSelect(
                    {
                        label: {
                        text: "Select a probation region",
                        classes: "govuk-label--m"
                    },
                        items: convertObjectsToSelectOptions(allProbationRegions, 'Select a probation region', "name", "id", "probationRegionId"),
                        fieldName: "probationRegionId"
                    },
                    fetchContext()
                ) }}

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">

                        {{ hmppsDatepicker({
                            id: "startDate",
                            name: "startDate",
                            label: {
                                text: "Start date",
                                classes: "govuk-label--m"
                            },
                            hint: {
                                text: 'For example, 27/3/2024'
                            },
                            errorMessage: context.errors.startDate,
                            classes: 'hmpps-datepicker--fixed-width',
                            value: context.startDate,
                            maxDate: maxStartDate
                        }) }}

                    </div>
                    <div class="govuk-grid-column-one-half">

                        {{ hmppsDatepicker({
                            id: "endDate",
                            name: "endDate",
                            label: {
                                text: "End date",
                                classes: "govuk-label--m"
                            },
                            hint: {
                                text: 'For example, 27/3/2024'
                            },
                            errorMessage: context.errors.endDate,
                            classes: 'hmpps-datepicker--fixed-width',
                            value: context.endDate,
                            maxDate: maxEndDate
                        }) }}

                    </div>
                </div>


                {{ govukButton({
                    text: "Download booking data",
                    name: "reportType",
                    value: 'booking',
                    classes: 'govuk-!-width-one-half',
                    preventDoubleClick: true
                }) }}

                <br />

                {{ govukButton({
                    text: "Download bedspace usage",
                    name: "reportType",
                    value: 'bedUsage',
                    classes: 'govuk-!-width-one-half',
                    preventDoubleClick: true
                }) }}

                <br />

                {{ govukButton({
                    text: "Download occupancy report",
                    name: "reportType",
                    value: 'bedOccupancy',
                    classes: 'govuk-!-width-one-half',
                    preventDoubleClick: true
                }) }}

                <br />

                {{ govukButton({
                    text: "Download referrals report",
                    name: "reportType",
                    value: 'referral',
                    classes: 'govuk-!-width-one-half',
                    preventDoubleClick: true
                }) }}

            </form>
        </div>
    </div>

{% endblock %}
