{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/ta-select/macro.njk" import taSelect %}

{% set pageTitle = applicationName + " - Reports" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ breadCrumb('Reports', []) }}
{% endblock %}

{% block content %}
  {% include "../../_messages.njk" %}
  
  <h1>Reports</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.reports.create() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        {{ taSelect(
          {
            label: {
                text: "Select a probation region",
                classes: "govuk-label--m"
            },
            items: convertObjectsToSelectOptions(allProbationRegions, 'Select a probation region', "name", "id", "probationRegionId"),
            fieldName: "probationRegionId"
          },
          fetchContext()
        ) }}

        <div class="govuk-grid-row">
           <div class="govuk-grid-column-one-third">

              {{ taSelect(
                {
                  label: {
                    text: "Month",
                    classes: "govuk-label--s"
                  },
                  items: convertObjectsToSelectOptions(months, 'Choose month', 'name', 'value', 'month'),
                  fieldName: "month"
                },
                fetchContext()
              ) }}

           </div>
           <div class="govuk-grid-column-one-third govuk-!-margin-left-5">

            {{ taSelect(
              {
                label: {
                  text: "Year",
                  classes: "govuk-label--s"
                },
                items: convertObjectsToSelectOptions(years, 'Choose year', 'year', 'year', 'year'),
                fieldName: "year"
              },
              fetchContext()
            ) }}

           </div>
        </div>


                {{ govukButton({
                text: "Download booking data",
                name: "reportType",
                value: 'bookings',
                classes: 'govuk-input govuk-!-width-one-half'
              }) }}

              <br/>

              {{ govukButton({
                text: "Download bedspace usage",
                name: "reportType",
                value: 'bedspace-usage',
                classes: 'govuk-input govuk-!-width-one-half'
              }) }}

              <br/>

              {{ govukButton({
                text: "Download occupancy report",
                name: "reportType",
                value: 'occupancy',
                classes: 'govuk-input govuk-!-width-one-half'
              }) }}

       
      
      </form>
    </div>
  </div>

{% endblock %}