{% extends "../../layout.njk" %}

{% block questions %}

{% set pageTitleHTML %}
  <span class="govuk-caption-l">{{ task.title }}</span>
  {{ page.title }}
{% endset %}

  {{ formPageDateInput( {
    fieldName: "accommodationRequiredFromDate",
    fieldset: {
      legend: {
        html: pageTitleHTML,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: dateInputHint('future')
    },
    items: dateFieldValues('accommodationRequiredFromDate', errors)
  }, fetchContext()) }}

{% endblock %}
