{% extends "../../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  </h1>

  {% set hintHtml %}
    <p class="govuk-hint">This could include the release date from custody, an Approved Premises, or Bail Accommodation and Support Services</p>
    <p class="govuk-hint">{{ dateInputHint('future') }}</p>
  {% endset %}

  {{ formPageDateInput( {
    fieldName: "releaseDate",
    hint: {
      html: hintHtml
    },
    items: dateFieldValues('releaseDate', errors)
  }, fetchContext()) }}

{% endblock %}
