{% extends "../../layout.njk" %}

{% block questions %}

  {% set pageTitleHTML %}
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  {% endset %}

  {% set hintHtml %}
    <p class="govuk-hint">This could include the release date from custody, an Approved Premises, or CAS2 (formerly Bail Accommodation Support Services)</p>
    <p class="govuk-hint">If they’re being released following Risk Assessed Recall Review (RARR), enter the proposed release date.</p>
    <p class="govuk-hint">{{ dateInputHint('future') }}</p>
  {% endset %}

  {{ formPageDateInput( {
    fieldName: "releaseDate",
    fieldset: {
      legend: {
        html: pageTitleHTML,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      html: hintHtml
    },
    items: dateFieldValues('releaseDate', errors)
  }, fetchContext()) }}

{% endblock %}
