{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <h1>Make a booking</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/premises/{{premisesId}}/booking/new" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {{ govukInput({
                label: {
                    text: "CRN",
                    classes: "govuk-label--m"
                },
                classes: "govuk-input--width-10",
                id: "CRN",
                name: "CRN"
            }) }}

            {{ govukDateInput({
                id: "arrival-date",
                namePrefix: "arrival",
                fieldset: {
                legend: {
                    text: "What is the arrival date?",
                    classes: "govuk-fieldset__legend--m"
                    }
                },
                hint: {
                    text: "For example, 27 3 2007"
                }
            }) }}

            {{ govukDateInput({
                id: "expected-departure-date",
                namePrefix: "expected-departure",
                fieldset: {
                legend: {
                    text: "What is the expected departure date?",
                    classes: "govuk-fieldset__legend--m"
                    }
                },
                hint: {
                text: "For example, 27 3 2007"
                }
            }) }}

            {{ govukInput({
                label: {
                    text: "Key Worker",
                    classes: "govuk-label--m"
                },
                classes: "govuk-input--width-20",
                id: "keyWorker",
                name: "keyWorker"
            }) }}

            {% from "govuk/components/button/macro.njk" import govukButton %}

            {{ govukButton({
                text: "Submit"
            }) }}
            </form>
        </div>
    </div>
{% endblock %}
