{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro locationHeader(locationDetails, hideAddress = false) %}

<div class="location-header">
  {% set premises = locationDetails.premises %}
      {% set room = locationDetails.room %}

  {% if premises %}
    {% if not hideAddress %}
      <h2>Property address</h2>
      <p>
            {{ room.name }}<br />
            {{ premises.addressLine1 }}<br/>
            {% if premises.town.length %}{{ premises.town }}{% endif %}<br />
            {{ premises.postcode }}
      </p>
    {% endif %}
  {% endif %}
</div>

{% endmacro %}
