{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro locationHeader(locationDetails, hideAddress = false) %}

<div class="location-header">
  {% set premises = locationDetails.premises %}

  {% if premises %}
    {% if not hideAddress %}
      <h2>Property address</h2>
      <p>{{ premises.addressLine1 }}
            {% if premises.town.length %}<br/>{{ premises.town }}{% endif %}
            <br />{{ premises.postcode }}</p>
    {% endif %}
  {% endif %}
</div>

{% endmacro %}
