.overlap-details {
    margin: 0;
}

.overlap-details__key,
.overlap-details__value {
    margin: 0;
    display: inline;
}

.overlap-details__value--bold {
    font-weight: bold;
}

.overlap-details__row--inline {
    display: inline;
}
