.hmpps-tag-filters {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0 4px 4px 0;
  padding: 4px;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  max-width: 100%;
  background: govuk-colour("light-grey");
  border: 1px solid govuk-colour("dark-grey");
}
