{% extends "../../layout.njk" %}

{% macro startAndEndDatesFields(prefix, name) %}
    {{ formPageDateInput( {
        fieldName: prefix + "StartDate",
        fieldset: {
            legend: {
                html: legendWithHint(prefix, name),
                classes: "govuk-fieldset__legend--s"
            }
        },
        hint: {
            text: dateInputHint('future')
        },
        items: dateFieldValues(prefix + "StartDate", errors)
    }, fetchContext()) }}

    {{ formPageDateInput( {
        fieldName: prefix + "EndDate",
        fieldset: {
            legend: {
                html: "Licence end date" + ' <span class="govuk-visually-hidden">for ' + name + '</span>',
                classes: "govuk-fieldset__legend--s"
            }
        },
        hint: {
            text: dateInputHint('future')
        },
        items: dateFieldValues(prefix + "EndDate", errors)
    }, fetchContext()) }}
{% endmacro %}

{% macro legendWithHint(prefix, name) %}
    {% set showProvisionalHint = [
        "nonPresumptiveRarrStartDate",
        "presumptiveRarrStartDate",
        "indeterminatePublicProtectionRarrStartDate"
    ] %}
    {% set provisionalHintHTML = '<p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-2">Enter the provisional release date if you’re not sure.</p>' %}
    {% set legendHtml = page.dateLabels(prefix, 'start') + ' <span class="govuk-visually-hidden">for ' + name + '</span>' %}
    {% if showProvisionalHint.includes(prefix + "StartDate") %}
        {% set legendHtml = legendHtml + provisionalHintHTML %}
    {% endif %}
    {{ legendHtml | safe }}
{% endmacro %}

{% block questions %}

    {% set pageTitleHTML %}
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    {% endset %}

    {% set releaseTypeOptions = [] %}
    {% for option in convertObjectsToCheckboxItems(page.currentReleaseTypeOptions(), 'name', 'value', 'releaseTypes') %}
        {% set releaseTypeOptions = releaseTypeOptions.concat(mergeObjects(
            option,
            { conditional: { html: startAndEndDatesFields(option.value, option.text) } }
        )) %}
    {% endfor %}

    {{ formPageCheckboxes({
        fieldName: "releaseTypes",
        fieldset: {
            legend: {
                html: pageTitleHTML,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: "Select up to 2 release types. Some combinations are not allowed."
        },
        items: releaseTypeOptions
    }, fetchContext()) }}

{% endblock %}
