{% extends "../../layout.njk" %}

{% macro startAndEndDatesFields(prefix) %}
    {{ formPageDateInput( {
        fieldName: prefix + "StartDate",
        fieldset: {
            legend: {
                text: "Start date",
                classes: "govuk-fieldset__legend--m"
            }
        },
        hint: {
            text: dateInputHint('future')
        },
        items: dateFieldValues(prefix + "StartDate", errors)
    }, fetchContext()) }}

    {{ formPageDateInput( {
        fieldName: prefix + "EndDate",
        fieldset: {
            legend: {
                text: "End date",
                classes: "govuk-fieldset__legend--m"
            }
        },
        hint: {
            text: dateInputHint('future')
        },
        items: dateFieldValues(prefix + "EndDate", errors)
    }, fetchContext()) }}
{% endmacro %}

{% block questions %}

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    </h1>

    {{ formPageCheckboxes({
        fieldName: "releaseTypes",
        fieldset: {
            legend: {
                text: "Select all that apply",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                value: "licence",
                text: "Licence",
                conditional: {
                html: startAndEndDatesFields('licence')
            }
            },
            {
                value: "pss",
                text: "Post sentence supervision (PSS)",
                conditional: {
                html: startAndEndDatesFields('pss')
            }
            }
        ]
    }, fetchContext()) }}

{% endblock %}
