{% extends "../../layout.njk" %}

{% macro startAndEndDatesFields(prefix) %}
    {{ formPageDateInput( {
        fieldName: prefix + "StartDate",
        fieldset: {
            legend: {
                text: "Start date",
                classes: "govuk-fieldset__legend--m"
            }
        },
        hint: {
            text: dateInputHint('future')
        },
        items: dateFieldValues(prefix + "StartDate", errors)
    }, fetchContext()) }}

    {{ formPageDateInput( {
        fieldName: prefix + "EndDate",
        fieldset: {
            legend: {
                text: "End date",
                classes: "govuk-fieldset__legend--m"
            }
        },
        hint: {
            text: dateInputHint('future')
        },
        items: dateFieldValues(prefix + "EndDate", errors)
    }, fetchContext()) }}
{% endmacro %}

{% block questions %}

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    </h1>

    {% set releaseTypeOptions = [] %}
    {% for option in convertObjectsToCheckboxItems(page.getReleaseTypeOptions(), 'name', 'value', 'releaseTypes') %}
        {% set releaseTypeOptions = releaseTypeOptions.concat(mergeObjects(
            option,
            { conditional: { html: startAndEndDatesFields(option.value) } }
        )) %}
    {% endfor %}

    {{ formPageCheckboxes({
        fieldName: "releaseTypes",
        fieldset: {
            legend: {
                text: "Select all that apply",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: releaseTypeOptions
    }, fetchContext()) }}

{% endblock %}
