{% extends "../../layout.njk" %}

{% block questions %}

  {% set pageTitleHTML %}
      <span class="govuk-caption-l">{{ task.title }}</span>
      {{ page.title }}
  {% endset %}

  {{ formPageRadios({
    fieldName: "sentenceType",
    fieldset: {
      legend: {
        html: pageTitleHTML,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select the option which best describes the situation"
    },
    items: page.items()
  }, fetchContext()) }}

{% endblock %}
