{% extends "../../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  </h1>

  {{ formPageRadios({
    fieldName: "sentenceType",
    hint: {
      text: "Select the option which best describes the situation"
    },
    items: page.items()
  }, fetchContext()) }}

{% endblock %}
