{% extends "../../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  </h1>

  <div class="govuk-form-group{{ " govuk-form-group--error" if errors.lengthComponents }}">
    <fieldset class="govuk-fieldset" role="group" {{ ("aria-describedby=\"lengthComponents-error\"" | safe) if errors.lengthComponents }}>
      {% if errors.lengthComponents %}
        <p id="lengthComponents-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.lengthComponents.text }}
        </p>
      {% endif %}
      <div class="length-components" id="lengthComponents">
        <div class="length-components__item">
          {{ formPageInput({
            label: {
              text: "Years",
              classes: "govuk-date-input__label"
            },
            fieldName: "years",
            classes: "govuk-input--width-3" + (" govuk-input--error" if errors.lengthComponents)
          }, fetchContext()) }}
        </div>
        <div class="length-components__item">
          {{ formPageInput({
            label: {
              text: "Months",
              classes: "govuk-date-input__label"
            },
            fieldName: "months",
            classes: "govuk-input--width-3" + (" govuk-input--error" if errors.lengthComponents)
          }, fetchContext()) }}
        </div>
        <div class="length-components__item">
          {{ formPageInput({
            label: {
              text: "Weeks",
              classes: "govuk-date-input__label"
            },
            fieldName: "weeks",
            classes: "govuk-input--width-3" + (" govuk-input--error" if errors.lengthComponents)
          }, fetchContext()) }}
        </div>
        <div class="length-components__item">
          {{ formPageInput({
            label: {
              text: "Days",
              classes: "govuk-date-input__label"
            },
            fieldName: "days",
            classes: "govuk-input--width-3" + (" govuk-input--error" if errors.lengthComponents)
          }, fetchContext()) }}
        </div>
      </div>
    </fieldset>
  </div>

{% endblock %}
