{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/ta-input/macro.njk" import taInput %}
{% from "../components/ta-textarea/macro.njk" import taTextarea %}
{% from "../components/ta-checkboxes/macro.njk" import taCheckboxes %}
{% from "../components/ta-radios/macro.njk" import taRadios %}
{% from "../components/ta-select/macro.njk" import taSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% call govukFieldset({
  legend: {
    text: "What the property address?",
    classes: "govuk-fieldset__legend--m"
  }
}) %}

{{ taInput(
  {
    label: {
      text: 'Address line 1',
      classes: "govuk-label--s"
    },
    fieldName: "addressLine1",
    autocomplete: "address-line1"
  },
  fetchContext()
) }}

{{ taInput(
  {
    label: {
      text: "Postcode",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-20",
    fieldName: "postcode",
    autocomplete: "postal-code"
  },
  fetchContext()
) }}

{% endcall %}

{{ taSelect(
  {
    label: {
      text: "What is the local authority?",
      classes: "govuk-label--m"
    },
    items: convertObjectsToSelectOptions(allLocalAuthorities, 'Select a local authority', 'name', 'id', 'localAuthorityAreaId'),
    fieldName: "localAuthorityAreaId"
  },
  fetchContext()
) }}

{{ taSelect(
  {
    label: {
      text: "What is the probation region?",
      classes: "govuk-label--m"
    },
    items: convertObjectsToSelectOptions(allProbationRegions, 'Select a probation region', 'name', 'id', 'probationRegionId'),
    fieldName: "probationRegionId"
  },
  fetchContext()
) }}

{{ taSelect(
  {
    label: {
      text: "What is the PDU?",
      classes: "govuk-label--m"
    },
    items: convertObjectsToSelectOptions(allPdus, 'Select a PDU', 'name', 'id', 'pdu'),
    fieldName: "pdu"
  },
  fetchContext()
) }}

{{ taCheckboxes(
  {
    fieldset: {
      legend: {
        text: "Does the property have any of the following attributes?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: convertObjectsToCheckboxItems(allCharacteristics, 'name', 'id', 'characteristicIds'),
    fieldName: "characteristicIds"
  },
  fetchContext()
) }}

{% set statusHintText %}
  <p>Select the relevant property status from the list below. The status will be applied to all bedspaces in this property.</p>
  <h4 class="govuk-heading-s">Pending</h4>
  <p>A property has been approved and is in the process of being made ready for bookings.</p>
  <h4 class="govuk-heading-s">Online</h4>
  <p>A property is being used by the service. Selecting this status will make any associated bedspaces available to book.</p>
  <h4 class="govuk-heading-s">Archived</h4>
  <p>A property is not being used by the service. This status should be selected when a contract has ended, for example.</p> 
{% endset %}

{% set statusHint %}
  {{ govukDetails({
    summaryText: "Guidance on statuses",
    html: statusHintText
  }) }}
{% endset %}

{{ taRadios(
  {
    fieldset: {
      legend: {
        text: "What is the status of this property?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      html: statusHint
    },
    items: convertObjectsToRadioItems(allStatuses, 'name', 'id', 'status'),
    fieldName: "status"
  }, fetchContext()
) }}

{{ taTextarea(
  {
    label: {
      text: "Please provide any further property details",
      classes: "govuk-label--m"
    },
    hint: {
      text: "This information will be used to help find a suitable property for the person on probation"
    },
    fieldName: "notes"
  }, fetchContext()
) }}

{{ govukButton({
  text: "Submit"
}) }}
