{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "../../components/place-context-header/macro.njk" import placeContextHeader %}

{% extends "../../partials/layout.njk" %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% set pageTitle = "List of properties - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ breadCrumb('List of properties', []) }}
    {{ placeContextHeader(placeContext) }}
{% endblock %}

{% block content %}
    {% include "../../_messages.njk" %}

    {{ mojPageHeaderActions({
        heading: {
            text: 'List of properties',
            classes: 'govuk-heading-l'
        },
        items: [{
            text: "Add a property",
            href: paths.premises.new()
        }]
    }) }}

    {{ govukTable({
        attributes: {
            'data-module': 'moj-sortable-table'
        },
        captionClasses: "govuk-table__caption--m",
        head: [
            {
                text: "Address"
            },
            {
                text: "Bedspaces"
            },
            {
                text: "PDU",
                attributes: { "aria-sort": "ascending" }
            },
            {
                text: "Status",
                attributes: { "aria-sort": "none" }
            },
            {
                html: '<span class="govuk-visually-hidden">Actions</span>'
            }
        ],
        rows: tableRows
    }) }}

{% endblock %}

 {% block extraScripts %}
     <script type="text/javascript" nonce="{{ cspNonce }}">
       $(function() {
         window.MOJFrontend.initAll()
       })
     </script>
 {% endblock %}
