{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}

{% set pageTitle = applicationName + " - Add a new property" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: paths.premises.index()
  }) }}

  {% include "../../_messages.njk" %}
  
  <h1>Add a new property</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.premises.create() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        {{ govukInput({
          label: {
            text: "Property name (optional)",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This will be used to identify the property"
          },
          classes: "govuk-input--width-20",
          id: "name",
          name: "name",
          value: name,
          errorMessage: errors.name
        }) }}

        {% call govukFieldset({
          legend: {
            text: "What the property address?",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

        {{ govukInput({
          label: {
            text: 'Address line 1',
            classes: "govuk-label--s"
          },
          id: "address",
          name: "address",
          autocomplete: "address-line1",
          errorMessage: errors.address
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-20",
          id: "postcode",
          name: "postcode",
          autocomplete: "postal-code",
          value: postcode,
          errorMessage: errors.postcode
        }) }}

        {% endcall %}

        {{ govukSelect({
          label: {
            text: "What is the local authority?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Local authority"
          },
          items: convertObjectsToSelectOptions(localAuthorities, 'Select a local authority', 'name', 'id', ''),
          id: "localAuthorityId",
          name: "localAuthorityId",
          errorMessage: errors.localAuthorityId
        }) }}

        {{ govukTextarea({
          label: {
            text: "Please provide any further property details",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This information will be used to help find a suitable property for the person on probation"
          },
          id: "notes",
          name: "notes",
          errorMessage: errors.notes
        }) }}

        {{ govukButton({
          name: 'submit',
          text: "Submit"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
