{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% set pageTitle = "Add a property - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ breadCrumb('Add a property', [
    {title: 'List of properties', href: paths.premises.index()}
  ]) }}
{% endblock %}

{% block content %}

  {% include "../../_messages.njk" %}

  {{ showErrorSummary(errorSummary) }}  
  
  <h1 class="govuk-heading-l">Add a property</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.premises.create() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      
        {% include "./_editable.njk" %}  
      </form>
    </div>
  </div>

{% endblock %}
