{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - View a property" %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "temporary-accommodation-premises-show" %}

{% block content %}

  {{ breadCrumb('View a property', [
    {title: 'List of properties', href: paths.premises.index()}
  ]) }}

  {% include "../../_messages.njk" %}

  <h1>View a property</h1>

  {{ mojIdentityBar({
    title: {
      html: '<h2>' + (premises.addressLine1 | e) + ', ' + (premises.postcode | e) + '</h2>'
    },
    menus: [{
      items: [{
        text: "Add a bedspace",
        classes: 'govuk-button--secondary',
        href: paths.premises.bedspaces.new({ premisesId: premises.id })
      }, {
        text: 'Remove property',
        classes: 'govuk-button--secondary',
        href: '#'
      }]
    }]
  }) }}

  <div data-cy-premises="true">
    <div class="edit-bar">
      <div class="edit-bar__container">
        <div class="edit-bar__title">
          <h3>{{ premises.name }}</h4>
        </div>
        <div class="edit-bar__action">
          <a href="{{ paths.premises.edit({ premisesId: premises.id }) }}">Edit</a>
        </div>
      </div>
    </div>

    {{ govukSummaryList({
      rows: summaryList.rows,
      classes: 'govuk-summary-list--no-border details'
    }) }}
  </div>

  <h3>Bedspace details</h3>

  {% for bedspace in bedspaces %}
    <div data-cy-bedspace="true">
      <div class="edit-bar">
        <div class="edit-bar__container">
          <div class="edit-bar__title">
            <h4>{{ bedspace.room.name }}</h4>
          </div>
          <div class="edit-bar__action">
            <a href="{{ paths.premises.bedspaces.edit({ premisesId: premises.id, roomId: bedspace.room.id }) }}">Edit</a>
          </div>
        </div>
      </div>

      {{ govukSummaryList({
        rows: bedspace.summaryList.rows,
        classes: 'govuk-summary-list--no-border details'
      }) }}
    </div>
  {% endfor %}

{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
  </script>
{% endblock %}
