{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../components/moj-cas-page-header-actions/macro.njk" import mojCasPageHeaderActions %}

{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "View a property - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "temporary-accommodation-premises-show" %}

{% block beforeContent %}
    {{ breadCrumb('View a property', [
        {title: 'List of properties', href: addPlaceContext(paths.premises.index())}
    ]) }}
{% endblock %}

{% block content %}
    {% include "../../_messages.njk" %}

    {% if premises.status === 'archived' %}
        {% if not successMessages.length %}
            {% set archivedBannerHtml %}
                <p class="govuk-notification-banner__heading">This is an archived property.</p>
                <p class="govuk-body">You cannot create a new bedspace, or make a new booking.</p>
            {% endset %}

            {{ govukNotificationBanner({
                html: archivedBannerHtml
            }) }}
        {% endif %}
    {% endif %}

    <h1 class="govuk-heading-l">View a property</h1>

     {{ mojCasPageHeaderActions({
        heading: {
            text: premises.addressLine1 + ', ' + premises.postcode,
            classes: 'govuk-heading-m',
            level: 2
        },
        actions: actions
    }) }}

    <div data-cy-premises="true" data-cy-pdu-id="{{premises.probationDeliveryUnit.id}}">
        <div class="edit-bar">
            <div class="edit-bar__container">
                <div class="edit-bar__title">
                    <h3>{{ premises.name }}</h3>
                </div>
                <div class="edit-bar__action">
                    <a href="{{ paths.premises.edit({ premisesId: premises.id }) }}">Edit</a>
                </div>
            </div>
        </div>

        {{ govukSummaryList({
            rows: summaryList.rows,
            classes: 'govuk-summary-list--no-border details'
        }) }}
    </div>

    <h3>Bedspace details</h3>

    {% for bedspace in bedspaces %}
        <div data-cy-bedspace="true">
            <div class="edit-bar">
                <div class="edit-bar__container">
                    <div class="edit-bar__title">
                        <h4>Bedspace name: {{ bedspace.room.name }}</h4>
                    </div>
                    <div class="edit-bar__action">
                        <a href="{{ addPlaceContext(paths.premises.bedspaces.show({ premisesId: premises.id, roomId: bedspace.room.id })) }}">View</a>
                    </div>
                </div>
            </div>

            {{ govukSummaryList({
                rows: bedspace.summaryList.rows,
                classes: 'govuk-summary-list--no-border details'
            }) }}
        </div>
    {% endfor %}

{% endblock %}

