{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <h1>Make a booking</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/premises/{{premisesId}}/bookings" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                {{ govukInput({
                    label: {
                        text: "CRN",
                        classes: "govuk-label--m"
                    },
                    classes: "govuk-input--width-10",
                    id: "CRN",
                    name: "CRN"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Name",
                        classes: "govuk-label--m"
                    },
                    classes: "govuk-input--width-10",
                    id: "name",
                    name: "name"
                }) }}

                {{ govukDateInput({
                    id: "arrivalDate",
                    namePrefix: "arrivalDate",
                    fieldset: {
                    legend: {
                        text: "What is the arrival date?",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    }
                }) }}

                {{ govukDateInput({
                    id: "expectedDepartureDate",
                    namePrefix: "expectedDepartureDate",
                    fieldset: {
                    legend: {
                        text: "What is the expected departure date?",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                    text: "For example, 27 3 2007"
                    }
                }) }}

                {{ govukSelect({
                    label: {
                        text: "Key Worker",
                        classes: "govuk-label--m"
                    },
                    classes: "govuk-input--width-20",
                    id: "keyWorker",
                    name: "keyWorker",
                    items: [
                        {
                        value: "bda42ec2-2435-47da-bb7f-54e90eda78b2",
                        text: "George Frank"
                        },
                        {
                        value: "55126a32-0d27-4044-bc4e-e21c01632e56",
                        text: "Alex Evans"
                        },
                        {
                        value: "cddb4be3-f0ef-4889-b987-61e1777ab17c",
                        text: "Jo Longford"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Submit"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
