{% extends "../../layout.njk" %}

{% block questions %}

    {% set pageTitleHTML %}
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    {% endset %}

    {% set itemsWithDetail = [] %}

    {% for item in page.items() %}
        {% if item.value !== 'none' %}
            {% set conditionalHtml %}
                {{ formPageTextarea({
                    fieldName: item.value + "Detail",
                    label: {
                        text: item.detailLabel or "Specify any additional details about the person's needs",
                        classes: "govuk-label--s"
                    }
                }, fetchContext()) }}
            {% endset %}

            {% set itemsWithDetail = itemsWithDetail.concat(mergeObjects(item, {
                conditional: {
                    html: conditionalHtml
                }
            })) %}
        {% else %}
            {% set itemsWithDetail = itemsWithDetail.concat({
                divider: 'or'
            }) %}
            {% set itemsWithDetail = itemsWithDetail.concat(mergeObjects(item, {
                behaviour: "exclusive"
            })) %}
        {% endif %}
    {% endfor %}

    {{ formPageCheckboxes({
        fieldset: {
            legend: {
                html: pageTitleHTML,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: "For example, if the person uses a hearing aid or has an ADHD diagnosis."
        },
        fieldName: "needs",
        items: itemsWithDetail
    }, fetchContext()) }}

{% endblock %}
