{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "../../layout.njk" %}

{% block questions %}
  {% set pageTitleHTML %}
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  {% endset %}

  {% set hintHTML%}
    <p class="govuk-hint">For example, a property that:</p>
    <ul class="govuk-hint">
      <li>has ground floor level access</li>
      <li>has a lift available</li>
      <li>is wheelchair accessible</li>
    </ul>
  {% endset %}

  {% set propertyAttributesOrAdaptationsDetailHtml %}
    {{ formPageTextarea({
        fieldName: 'propertyAttributesOrAdaptationsDetail',
        label: {
          text: "Provide details of what is required",
          classes: "govuk-label--s"
        }
    },fetchContext()) }}
  {% endset %}

  {{ formPageRadios({
    fieldName: "propertyAttributesOrAdaptations",
    fieldset: {
      legend: {
        html: pageTitleHTML,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      html: hintHTML
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: propertyAttributesOrAdaptationsDetailHtml
        }
      },
      {
        value: "no",
        text: "No"
      }
    ]
  },fetchContext()) }}

{% endblock %}
