{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "../../layout.njk" %}

{% block questions %}
  {% set pageTitleHTML %}
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  {% endset %}

  {% set religiousOrCulturalNeedsDetailHtml %}
    {{ formPageTextarea({
        fieldName: 'religiousOrCulturalNeedsDetail',
        label: {
          text: "Provide details",
          classes: "govuk-label--s"
        }
    },fetchContext()) }}
  {% endset %}

  {{ formPageRadios({
    fieldName: "religiousOrCulturalNeeds",
    fieldset: {
      legend: {
        html: pageTitleHTML,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: religiousOrCulturalNeedsDetailHtml
        }
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }, fetchContext()) }}

{% endblock %}
