{% extends "../../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  </h1>

  {% set itemsWithDetail = [] %}

  {% for item in page.items() %}

    {% set conditionalHtml %}
        {{ formPageTextarea({
        fieldName: item.value + "Detail",
        label: {
          text: item.detailLabel or "Provide details",
          classes: "govuk-label--s"
        }
      },fetchContext()) }}
    {% endset %}

    {% set itemsWithDetail = (
      itemsWithDetail.push(mergeObjects(item, {
        conditional: {
          html: conditionalHtml
        }
      })), itemsWithDetail)
    %}
  {% endfor %}

  {{ formPageCheckboxes({
    fieldName: "accommodationTypes",
    items: itemsWithDetail
  }, fetchContext()) }}

{% endblock %}
