{% extends "../partials/layout.njk" %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}

{% set pageTitle = applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% include "../_messages.njk" %}
  
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
  </div>
{% endblock %}
