{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../../../components/riskWidgets/mappa-widget/macro.njk" import mappaWidget %}
{% from "../../../../components/riskWidgets/rosh-widget/macro.njk" import roshWidget %}
{% from "../../../../components/riskWidgets/risk-flag-widget/macro.njk" import riskFlagWidget %}
{% extends "../../layout.njk" %}

{% set disableButton = true %}

{% set columnClasses = "govuk-grid-column-full" %}
{% block questions %}

  {% include "./partials/_navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukWarningText({
        text: "The risk management plan could not be imported from OASys",
        iconFallbackText: "Warning"
      }) }}

      <p class="govuk-body">
        Provide an outline of the risk management plan.
        Summarise how risks relating to accommodation will be managed whilst the person is in Temporary Accommodation.
      </p>

      {{ formPageTextarea({
        fieldName: 'victimSafetyPlanning',
        label: {
          text: page.questions.victimSafetyPlanning,
          classes: "govuk-label--m"
        }
      }, fetchContext()) }}

      {{ formPageTextarea({
        fieldName: 'supervision',
        label: {
          text: page.questions.supervision,
          classes: "govuk-label--m"
        }
      }, fetchContext()) }}

      {{ formPageTextarea({
        fieldName: 'monitoringAndControl',
        label: {
          text: page.questions.monitoringAndControl,
          classes: "govuk-label--m"
        }
      }, fetchContext()) }}

      {{ formPageTextarea({
        fieldName: 'interventionAndTreatment',
        label: {
          text: page.questions.interventionAndTreatment,
          classes: "govuk-label--m"
        }
      }, fetchContext()) }}

      {{ govukButton({
        text: "Save and continue",
        preventDoubleClick: true
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ roshWidget(page.risks.roshRisks) }}
      {{ mappaWidget(page.risks.mappa) }}
      {{ riskFlagWidget(page.risks.flags) }}
    </div>
  </div>
{% endblock %}


