{% extends "../../layout.njk" %}

{% block questions %}

    {% set pageTitleHTML %}
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    {% endset %}

    {{ formPageInput({
        fieldName: "email",
        label: {
            html: pageTitleHTML,
            isPageHeading: true,
            classes: "govuk-label--l"
        }
    }, fetchContext()) }}

    {% include "./partials/warning-update-details.njk" %}

{% endblock %}
