{% extends "../../layout.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block questions %}

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    </h1>

    {{ formPageSelect({
        fieldName: 'id',
        label: {
            text: "Select the PDU",
            classes: "govuk-label--s"
        },
        items: page.getRegionPdus()
    }, fetchContext()) }}
{% endblock %}
