{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/ta-date-input/macro.njk" import taDateInput %}
{% from "../components/ta-input/macro.njk" import taInput %}
{% from "../components/ta-select/macro.njk" import taSelect %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Find a bedspace" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ breadCrumb('Find a bedspace', []) }}

  {% include "../../_messages.njk" %}

  <h1>Search for available bedspaces</h1>
  <form action="{{ paths.bedspaces.search({}) }}" method="get">
    {{ showErrorSummary(errorSummary) }}

    {{ taDateInput(
      {
        fieldset: {
          legend: {
          text: "Available from",
          classes: "govuk-fieldset__legend--s"
          }
        },
        fieldName: "startDate",
        items: dateFieldValues('startDate', errors)
      },
      fetchContext()
    ) }}

    {{ taInput(
      {
        label: {
        text: 'Number of days available',
        classes: "govuk-label--s"
      },
        classes: "govuk-input--width-2",
        fieldName: "durationDays",
        inputmode: "numeric",
        spellcheck: false
      },
      fetchContext()
    ) }}

    {{ taSelect(
      {
        label: {
          text: "Probation Delivery Unit (PDU)",
          classes: "govuk-label--s"
        },
        items: convertObjectsToSelectOptions(allPdus, 'Select a PDU', 'name', 'id', 'probationDeliveryUnit'),
        fieldName: "probationDeliveryUnit"
      },
      fetchContext()
    ) }}

    {{ govukButton({
      text: "Update" if results else "Search",
      preventDoubleClick: true
    }) }}
  </form>

  {% if results %}
      {% if results.results.length === 0 %}
        <p>
          <p class="govuk-body-l">
            There are no available bedspaces {{ parseNaturalNumber(durationDays) }} {{ 'day' if parseNaturalNumber(durationDays) === 1 else 'days' }} from {{ formatDate(startDate) }}.
          </p>
          <p class="govuk-body-l">
            Try changing one or more of your search criteria to get more results.
          </p>
        </p>
      {% else  %}
        <p>
          Showing {{ results.results.length }} {{ 'result' if results.results.length === 1 else 'results' }}
        </p>

        {% set tableHeadings = [
          { text: 'Name' },
          { text: 'Address', classes: 'govuk-!-width-one-half' },
          { text: '# of bedspaces' },
          { html: '<span class="govuk-visually-hidden">Actions</span>' }
        ] %}

        {{ govukTable({
          head: tableHeadings,
          rows: BedspaceSearchResultUtils.resultTableRows(results.results)
        }) }}
      {% endif %}

  {% endif %}



{% endblock %}
