{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro locationHeader(locationDetails, hideAddress = false, headingClass = "") %}

<div class="location-header">
  {% set premises = locationDetails.premises %}
      {% set room = locationDetails.room %}

  {% if premises %}
    {% if not hideAddress %}
      <h2{% if headingClass %} class="{{ headingClass }}"{% endif %}>Property address</h2>
      <p>
            {% if room.reference.length %}{{ room.reference }}<br/>{% endif %}
            {{ premises.addressLine1 }}
            {% if premises.addressLine2.length %}<br/>{{ premises.addressLine2 }}{% endif %}
            {% if premises.town.length %}<br/>{{ premises.town }}{% endif %}
            <br />{{ premises.postcode }}
      </p>
    {% endif %}
  {% endif %}
</div>

{% endmacro %}
