{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {{ govukBackLink({
      text: "Back",
      href: paths.premises.show({premisesId: premisesId})
    }) }}

    <h1>{{pageHeading}}</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="{{ paths.bookings.create({ premisesId: premisesId }) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <input type="hidden" name="crn" value="{{ crn }}"/>

                {{ showErrorSummary(errorSummary) }}

                {{ govukSummaryList({
                rows: [
                   {
                    key: {
                        text: "Name"
                    },
                    value: {
                        text: name
                    }
                    },
                    {
                    key: {
                        text: "CRN"
                    },
                    value: {
                        text: crn
                    }
                    }
                ]
                }) }}

                {{ govukDateInput({
                    id: "expectedArrivalDate",
                    namePrefix: "expectedArrivalDate",
                    fieldset: {
                    legend: {
                        text: "What is the expected arrival date?",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    },
                    items: dateFieldValues('expectedArrivalDate', errors),
                    errorMessage: errors.expectedArrivalDate
                }) }}

                {{ govukDateInput({
                    id: "expectedDepartureDate",
                    namePrefix: "expectedDepartureDate",
                    fieldset: {
                    legend: {
                        text: "What is the expected departure date?",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                    text: "For example, 27 3 2007"
                    },
                    items: dateFieldValues('expectedDepartureDate', errors),
                    errorMessage: errors.expectedDepartureDate
                }) }}

                {{ govukSelect({
                    label: {
                        text: "Key Worker",
                        classes: "govuk-label--m"
                    },
                    classes: "govuk-input--width-20",
                    id: "keyWorkerId",
                    name: "keyWorkerId",
                    items: convertObjectsToSelectOptions(keyWorkers, 'name', 'id', 'keyWorkerId'),
                    errorMessage: errors.keyWorkerId
                }) }}

                {{ govukButton({
                    text: "Submit"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
