{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: paths.premises.show({premisesId: premisesId})
  }) }}

 
  <h1>{{pageHeading}}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ mojIdentityBar({
         title: {
          html: "<h2>" + booking.name + "</h2>"
        },
        menus: bookingActions(booking, premisesId)
      }) }}

      <br>
      <h2>Person details</h2>

      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          attributes: {
            'data-cy-dates': true
          },
          rows: [
            {
              key: {
                text: "CRN"
              },
              value: {
                text: formatDate(booking.departureDate)
              }
            }
          ]
        })
      }}
      <br>
      {% if booking.arrival | length %}
        <h2>Arrival information</h2>

        {{
          govukSummaryList({
            classes: 'govuk-summary-list--no-border',
            attributes: {
              'data-cy-arrival-information': true
            },
            rows: [
              {
                key: {
                  text: "Expected arrival date"
                },
                value: {
                  text: formatDate(booking.arrival.arrivalDate)
                }
              },
              {
                key: {
                  text: "Arrival date"
                },
                value: {
                  text: formatDate(booking.arrival.date)
                }
              },
              {
                key: {
                  text: "Notes"
                },
                value: {
                  text: booking.arrival.notes
                }
              }
            ]
          })
        }}

      {% endif %}
      <br>
      {% if booking.departure | length %}
        <h2>Departure information</h2>

        {{
          govukSummaryList({
            classes: 'govuk-summary-list--no-border',
            attributes: {
              'data-cy-departure-information': true
            },
            rows: [
              {
                key: {
                  text: "Expected departure date"
                },
                value: {
                  text: formatDate(booking.arrival.expectedDepartureDate)
                }
              },
              {
                key: {
                  text: "Actual departure date"
                },
                value: {
                  text: formatDate(booking.departure.dateTime)
                }
              },
              {
                key: {
                  text: "Reason"
                },
                value: {
                  text: booking.departure.reason.name
                }
              },
              {
                key: {
                  text: "Notes"
                },
                value: {
                  text: booking.departure.notes
                }
              }
            ]
          })
        }}

      {% endif %}

    </div>
  </div>
{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
  </script>
{% endblock %}
