{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../components/person-details/macro.njk" import personDetails %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Confirm the person's details - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: paths.applications.new()
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.create() }}" method="post">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input type="hidden" name="crn" value="{{ crn }}"/>
        <input type="hidden" name="offenceId" value="{{ offenceId }}"/>

        <h1 class="govuk-heading-l">Confirm {{ personName(person) }}'s details</h1>

        <p>
          Taken from NDelius, <strong>{{ date }}</strong>
        </p>

        {{ personDetails({person: person, headingLevel: 2 }) }}

        <p>If these details are wrong, update this case in NDelius before you continue.</p>
        <p>If you've entered the wrong CRN, go back to the CRN screen.</p>

        {{ govukButton({
          text: "Save and continue",
          preventDoubleClick: true
        }) }}

        <p>
          <a href="{{ paths.applications.new() }}"> Back to CRN screen </a>
        </p>

      </form>
    </div>
  </div>
{% endblock %}
