{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Select the index offence for " + personName(person) %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1>Select the index offence for {{ personName(person) }}</h1>

      <p class="govuk-body">
        {{ personName(person, 'This person') }} has more than one offence identified against their CRN.

      <p class="govuk-body">Select their main offence.</p>

        <form action="{{ paths.applications.create() }}" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          <input type="hidden" name="crn" value="{{ person.crn }}"/>

          {{
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  html: '<span class="govuk-visually-hidden">Select offence</span>'
                },
                {
                  text: "Offence ID"
                },
                {
                  text: "Offence description"
                },
                {
                  text: "Date"
                },
                {
                  text: "Conviction ID"
                }
              ],
              rows: OffenceUtils.offenceTableRows(offences)
            })
          }}

          {{ govukButton({
            text: "Save and continue",
            preventDoubleClick: true
          }) }}

        </form>
      </div>
    </div>
  {% endblock %}
