{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  </h1>

  {% set conditionalHtml %}
    {{ formPageTextarea({
      fieldName: "consentTypeDetail",
      label: {
        text: "Please specify",
        classes: "govuk-label--s"
      }
    },fetchContext()) }}
  {% endset %}

  {{ formPageRadios({
    fieldName: "consentType",
    items: [
      {
        value: "verbal",
        text: "Verbal consent was given"
      },
      {
        value: "written",
        text: "Written consent was given"
      },
      {
        value: "other",
        text: "Other",
        conditional: {
          html: conditionalHtml
        }
      }
    ]
  }, fetchContext()) }}
  
{% endblock %}
