{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ section.title }}</span>
    {{ page.title }}
  </h1>

  {% set conditionalHtml %}
    {{ govukNotificationBanner({
      text: "Consent must be given before an application to Transitional Accommodation (CAS3) is made"
    }) }}
  {% endset %}

  {{ formPageRadios({
    fieldName: "consentGiven",
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No",
        conditional: {
          html: conditionalHtml
        }
      }
    ]
  }, fetchContext()) }}

  <p>The person must also sign an Accommodation Compact. See the <a href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/?__id=webDiagram.show&map=0%3AFF2D8D3F16B44268B814F7F8177A16F7&dgm=6B8C1C46E26D4ACFBEC3D16F7ABA3029">operational guidance for TA</a> for more information.</p>
{% endblock %}
