.temporary-accommodation-premises-show, .temporary-accommodation-bedspaces-show {
  .details {
    ul {
      padding-inline-start: 0px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
    li {
      list-style-type: none
    }
  }

  .moj-identity-bar {
    margin: 0.8em 0 2em;
    box-shadow: none;

    &__details {
      padding: 0;
      margin: 0;
    }
    &__title {
      h1, h2 {
        display: inline;
        margin: 0;
        padding: 0;
      }
    }
  }
}
