{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../components/person-details/macro.njk" import personDetails %}
{% from "../../../../components/printButton/macro.njk" import printButtonScript, printButton %}

{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = page.title + " - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.applications.show({ id: page.application.id }),
        classes: 'govuk-!-display-none-print'
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
		<div class="govuk-width-container">
		  <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
		      <h1 class="govuk-heading-l">
		        {{ page.title }}
		      </h1>

		      {{ printButton() }}
				</div>
			</div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

	    <div class="govuk-grid-row">
		    <div class="govuk-grid-column-two-thirds-from-desktop" data-cy-check-your-answers-section="person-details">
          {{ personDetails({person: page.application.person, headingLevel: 2 }) }}

          {% for section in checkYourAnswersSections(page.application) %}
            <h2 class="govuk-heading-m">{{ section.title }}</h2>
            {% for task in section.tasks %}
              <div data-cy-check-your-answers-section="{{ task.id }}">
	              {{ govukSummaryList({
	                card: {
	                  title: {
	                  text: task.title,
	                    headingLevel: 3
	                  }
	                },
	                rows: task.rows
	              }) }}
              </div>
            {% endfor %}
          {% endfor %}
				</div>
			</div>
        <form action="{{ paths.applications.pages.update({ id: applicationId, task: task.id, page: page.name }) }}?_method=PUT"
            method="post">

          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="reviewed" value="1" />
          {{ govukButton({
            text: "Continue",
            preventDoubleClick: true,
            classes: 'govuk-!-display-none-print'
          }) }}
        </form>

      </div>
  </div>


{% endblock %}

{% block extraScripts %}
    {{ printButtonScript(cspNonce) }}
{% endblock %}
