{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../components/formFields/form-page-textarea/macro.njk" import formPageTextarea %}
{% from "../../components/formFields/form-page-date-input/macro.njk" import formPageDateInput %}
{% from "../../components/formFields/form-page-select/macro.njk" import formPageSelect %}

{{ formPageDateInput(
  {
    fieldset: {
      legend: {
        text: "When was this booking cancelled?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    fieldName: "date",
    items: dateFieldValues('date', errors)
  },
  fetchContext()
) }}

{{ formPageSelect(
  {
    label: {
        text: "What was the reason for cancellation?",
        classes: "govuk-label--m"
    },
    items: convertObjectsToSelectOptions(allCancellationReasons, "Select a cancellation reason", "name", "id", "reason"),
    fieldName: "reason"
  },
  fetchContext()
) }}

{{ formPageTextarea(
  {
    label: {
      text: "Please provide any further details"
    },
    fieldName: "notes"
  },
  fetchContext()
) }}

{{ govukButton({
  text: "Submit",
  preventDoubleClick: true
}) }}