{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/ta-textarea/macro.njk" import taTextarea %}
{% from "../components/ta-date-input/macro.njk" import taDateInput %}
{% from "../components/ta-select/macro.njk" import taSelect %}
{% from "../components/booking-info/macro.njk" import bookingInfo %}
{% from "../components/location-header/macro.njk" import locationHeader %}
{% from "../components/pop-details-header/macro.njk" import popDetailsHeader%}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Cancel booking" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: paths.bookings.show({ premisesId: premises.id, roomId: room.id, bookingId: booking.id })
  }) }}

  {% include "../../_messages.njk" %}

  <h1>Cancel booking</h1>

  {{ showErrorSummary(errorSummary) }}

  {{ popDetailsHeader(booking.person) }}
  {{ locationHeader({ premises: premises, room: room }) }}

  {{ bookingInfo(booking) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.bookings.cancellations.create({ premisesId: premises.id, roomId: room.id, bookingId: booking.id }) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ taDateInput(
          {
            fieldset: {
              legend: {
                text: "When was this booking cancelled?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            fieldName: "date",
            items: dateFieldValues('date', errors)
          },
          fetchContext()
        ) }}

        {{ taSelect(
          {
            label: {
                text: "What was the reason for cancellation?",
                classes: "govuk-label--m"
            },
            items: convertObjectsToSelectOptions(allCancellationReasons, "Select a cancellation reason", "name", "id", "reason"),
            fieldName: "reason"
          },
          fetchContext()
        ) }}

        {{ taTextarea(
          {
            label: {
              text: "Please provide any further details"
            },
            fieldName: "notes"
          },
          fetchContext()
        ) }}

        {{ govukButton({
          text: "Submit",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
