{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro printButton() %}
  {{ govukButton({
    text: 'Print this page',
    classes: 'govuk-button--secondary govuk-!-display-none-print',
    attributes: { 'data-print-btn': true }
  }) }}
{% endmacro%}

{% macro printButtonScript(cspNonce) %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    document.addEventListener("DOMContentLoaded", function () {
      const printBtn = document.querySelector('[data-print-btn]');

      function printHandler() {
        window.print();
      }

      if (printBtn) {
        printBtn.addEventListener('click', printHandler);

        window.addEventListener('beforeunload', function(){
          printBtn.removeEventListener('click', printHandler)
        })
      }
    })
  </script>
{% endmacro %}
