{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../../layout.njk" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block questions %}

    {% set pageTitleHTML %}
        <span class="govuk-caption-l">{{ section.title }}</span>
        {{ page.title }}
    {% endset %}

    <input type="hidden" name="currentRegionId" value="{{ page.currentRegionId }}">
    <input type="hidden" name="currentRegionName" value="{{ page.currentRegionName }}">

    {{ formPageRadios({
        fieldset: {
            legend: {
                html: pageTitleHTML,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        items: page.getAllRegions(),
        fieldName: "regionId"
    }, fetchContext()) }}
{% endblock %}
