{% from "../../../../components/formFields/form-page-select/macro.njk" import formPageSelect %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../../layout.njk" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block questions %}
    <div class="govuk-panel govuk-panel--confirmation moj-panel--grey">
        <h1 class="govuk-panel__title">
            Evidence must be in NDelius before you can submit the referral
        </h1>
    </div>
    <p>There must be evidence in NDelius showing:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>you’ve started a discussion with {{ page.pduName }} PDU about this CAS3 request</li>
        <li>the PDU has agreed to consider the request</li>
    </ul>
    <p>You can carry on completing the referral form.</p>
{% endblock %}