{% from "../../../../components/formFields/form-page-select/macro.njk" import formPageSelect %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../../layout.njk" %}

{% block head %}
    {{ super() }}
    <link href="/assets/css/accessible-autocomplete.min.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block questions %}

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ section.title }}</span>
        {{ page.title }}
    </h1>

    {{ formPageSelect({
        fieldName: 'pduId',
        label: {
            text: "Enter a PDU in " + page.regionName,
            classes: "govuk-label--s"
        },
        items: page.getAllPdus()
    }, fetchContext()) }}
{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" nonce="{{ cspNonce }}" src="/assets/js/accessible-autocomplete.min.js"></script>
    <script type="text/javascript" nonce="{{ cspNonce }}">
        accessibleAutocomplete.enhanceSelectElement({selectElement: document.querySelector('select#pduId'), defaultValue: ''})

    </script>
{% endblock %}