{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukCheckboxes({
  fieldset: {
    legend: {
      text: "Does the bedspace have any of the following attributes?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: convertObjectsToCheckboxItems(allCharacteristics, 'name', 'id', 'characteristicIds'),
  id: "characteristicIds",
  name: "characteristicIds[]",
  errorMessage: errors.characteristicIds
}) }}

{{ govukTextarea({
  label: {
    text: "Please provide any further bedspace details",
    classes: "govuk-label--m"
  },
  hint: {
    text: "This information will be used to help find a suitable bedspace for the person on probation"
  },
  id: "notes",
  name: "notes",
  value: notes,
  errorMessage: errors.notes
}) }}

{{ govukButton({
  text: "Submit"
}) }}
