{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% set pageTitle = applicationName + " - Edit a bedspace" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ breadCrumb('Edit a bedspace', [
    {title: 'List of properties', href: paths.premises.index()},
    {title: 'View a property', href: paths.premises.show({ premisesId: premisesId })},
    {title: 'View a bedspace', href: paths.premises.bedspaces.show({ premisesId: premisesId, roomId: id })}
  ]) }}

  {% include "../../_messages.njk" %}
  
  <h1>Edit a bedspace</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.premises.bedspaces.update({ premisesId: premisesId, roomId: id }) }}?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        <h2 class="govuk-label govuk-label--m">Property reference</h2>
        <p class="govuk-body">{{ name }}</p>
      
        {% include "./_editable.njk" %}  
      </form>
    </div>
  </div>

{% endblock %}
