{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% set pageTitle = applicationName + " - Add a property" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ breadCrumb('Add a bedspace', [
    {title: 'List of properties', href: paths.premises.index()},
    {title: 'Manage a property', href: paths.premises.show({ premisesId: premisesId })}
  ]) }}

  {% include "../../_messages.njk" %}
  
  <h1>Add a bedspace</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.premises.bedspaces.create({ premisesId: premisesId })}}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        {{ govukInput({
          label: {
            text: "Enter a reference name",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This will be used to identify the room when making books and reporting on the service"
          },
          classes: "govuk-input--width-20",
          id: "name",
          name: "name",
          value: name,
          errorMessage: errors.name
        }) }}


        {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: "Does the bedspace have any of the following attributes?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: convertObjectsToCheckboxItems(allCharacteristics, 'name', 'id', 'characteristicIds'),
          id: "characteristicIds",
          name: "characteristicIds[]",
          errorMessage: errors.characteristicIds
        }) }}

        {{ govukTextarea({
          label: {
            text: "Please provide any further bedspace details",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This information will be used to help find a suitable bedspace for the person on probation"
          },
          id: "notes",
          name: "notes",
          value: notes,
          errorMessage: errors.notes
        }) }}

        {{ govukButton({
          name: 'submit',
          text: "Submit"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
