{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% set pageTitle = applicationName + " - Add a bedspace" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ breadCrumb('Add a bedspace', [
    {title: 'List of properties', href: paths.premises.index()},
    {title: 'View a property', href: paths.premises.show({ premisesId: premises.id })}
  ]) }}

  {% include "../../_messages.njk" %}
  
  <h1>Add a bedspace</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.premises.bedspaces.create({ premisesId: premises.id })}}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        <div class="location-header">
          <h2>Property reference</h2>
          <p>{{ premises.name }}</p>

          <h2>Property address</h2>
          <p>{{ premises.addressLine1 }}<br />{{ premises.postcode }}</p>
        </div>

        {{ govukInput({
          label: {
            text: "Enter a bedspace reference",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This will be used to identify the bedspace when making bookings and reporting on the service"
          },
          classes: "govuk-input--width-20",
          id: "name",
          name: "name",
          value: name,
          errorMessage: errors.name
        }) }}

        {% include "./_editable.njk" %}  
      </form>
    </div>
  </div>

{% endblock %}
