{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/location-header/macro.njk" import locationHeader %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - View a bedspace" %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "temporary-accommodation-bedspaces-show" %}

{% block content %}

  {{ breadCrumb('View a bedspace', [
    {title: 'List of properties', href: paths.premises.index()},
    {title: 'View a property', href: paths.premises.show({ premisesId: premises.id })}
  ]) }}

  {% include "../../_messages.njk" %}

  {{ mojPageHeaderActions({
    heading: {
      text: 'View a bedspace',
      classes: 'govuk-heading-l'
    },
    items: [{
        text: "Book bedspace",
        classes: 'govuk-button--secondary',
        href: paths.bookings.new({ premisesId: premises.id, roomId: bedspace.room.id })
      }, {
        text: 'Void bedspace',
        classes: 'govuk-button--secondary',
        href: paths.lostBeds.new({ premisesId: premises.id, roomId: bedspace.room.id })
      }]
  }) }}

  {{ locationHeader({ premises: premises }) }}

  <div class="edit-bar">
    <div class="edit-bar__container">
      <div class="edit-bar__title">
        <h2 class="govuk-label govuk-label--m">{{ bedspace.room.name }}</h2>
      </div>
      <div class="edit-bar__action">
        <a href="{{ paths.premises.bedspaces.edit({ premisesId: premises.id, roomId: bedspace.room.id }) }}">Edit</a>
      </div>
    </div>
  </div>

  {{ govukSummaryList({
    rows: bedspace.summaryList.rows,
    classes: 'govuk-summary-list--no-border details'
  }) }}

  <h2>Bookings</h2>

  {{ govukTable({
    captionClasses: "govuk-table__caption--m",
    head: [
      {
        text: "CRN"
      },
      {
        text: "Start date"
      },
      {
        text: "End date"
      },
      {
        text: "Status"
      },
      {
        html: '<span class="govuk-visually-hidden">Actions</span>'
      }
    ],
    rows: bookingTableRows
  }) }}

{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
  </script>
{% endblock %}
