{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "../../components/location-header/macro.njk" import locationHeader %}
{% from "../../components/booking-listing/macro.njk" import bookingListing %}
{% from "../../components/lost-bed-listing/macro.njk" import lostBedListing %}
{% from "../../components/moj-cas-page-header-actions/macro.njk" import mojCasPageHeaderActions %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "View a bedspace - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "temporary-accommodation-bedspaces-show" %}

{% block beforeContent %}
    {{ breadCrumb('View a bedspace', [
        {title: 'List of properties', href: addPlaceContext(paths.premises.index())},
        {title: 'View a property', href: addPlaceContext(paths.premises.show({ premisesId: premises.id }))}
    ]) }}
{% endblock %}

{% block content %}
    {% include "../../_messages.njk" %}

    {% if premises.status === 'archived' %}
        {% if not successMessages.length %}
            {% set archivedBannerHtml %}
                <p class="govuk-notification-banner__heading">This bedspace is in an archived property.</p>
                <p class="govuk-body">You cannot make a new booking.</p>
            {% endset %}

            {{ govukNotificationBanner({
                html: archivedBannerHtml
            }) }}
        {% endif %}
    {% endif %}

    {{ mojCasPageHeaderActions({
        heading: {
            text: "View a bedspace"
        },
        actions: actions
    }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {{ locationHeader({ premises: premises }) }}
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="attributes-header details">
                <h2>Property attributes</h2>
                <ul>
                    {% for characteristic in premisesCharacteristics %}
                        <li>{{ characteristic }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div class="edit-bar">
        <div class="edit-bar__container">
            <div class="edit-bar__title">
                <h2 class="govuk-label govuk-label--m">Bedspace name: {{ bedspace.room.name }}</h2>
            </div>
            <div class="edit-bar__action">
                <a href="{{ paths.premises.bedspaces.edit({ premisesId: premises.id, roomId: bedspace.room.id }) }}">Edit</a>
            </div>
        </div>
    </div>


    {{ govukSummaryList({
        rows: bedspace.summaryList.rows,
        classes: 'govuk-summary-list--no-border details'
    }) }}

    <h2>Bookings</h2>

    {% for listingEntry in listingEntries %}
        {% if listingEntry.type === 'booking' %}
            {{ bookingListing(listingEntry.body, addPlaceContext(listingEntry.path)) }}
            {% elif listingEntry.type === 'lost-bed' %}
            {{ lostBedListing(listingEntry.body, addPlaceContext(listingEntry.path)) }}
        {% endif %}
    {% endfor %}

{% endblock %}

