{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
    html: 'This will not update these details in NDelius. To do this, you need to <a href="https://mojprod.service-now.com/moj_sp?id=emp_taxonomy_topic&topic_id=ef2eede21b1a11503393a797b04bcb87" class="govuk-link" target="_blank">raise a ServiceNow request in the Technology Portal (opens in a new tab)</a>.'
}) }}
