{% extends "../../layout.njk" %}

{% block questions %}
    {% set concerningSexualBehaviourDetailHtml %}
        {{ formPageTextarea({
            fieldName: 'concerningSexualBehaviourDetail',
            label: {
                text: "Explain what the behaviour is and how it could be managed",
                classes: "govuk-label--s"
            }
        }, fetchContext()) }}
    {% endset %}

    {% set pageTitleHTML %}
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    {% endset %}

    {{ formPageRadios({
        fieldName: "concerningSexualBehaviour",
        fieldset: {
            legend: {
                html: pageTitleHTML,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: "This is about sexual behaviour which might introduce risk in an accommodation placement."
        },
        items: [
            {
                value: "yes",
                text: "Yes",
                conditional: {
                html: concerningSexualBehaviourDetailHtml
            }
            },
            {
                value: "no",
                text: "No"
            }
        ]
    }, fetchContext()) }}

{% endblock %}
