{% extends "../../layout.njk" %}

{% block questions %}
    {% set pageTitleHTML %}
        <span class="govuk-caption-l">{{ section.title }}</span>
        {{ page.title }}
    {% endset %}

    {{ formPageRadios({
        fieldName: "historyOfSexualOffence",
        fieldset: {
            legend: {
                html: pageTitleHTML,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: "You'll need to explain in the referral how this could affect the accommodation placement."
        },
        items: [
            {
                value: "yes",
                text: "Yes"
            },
            {
                value: "no",
                text: "No"
            }
        ]
    }, fetchContext()) }}
{% endblock %}