{% from "../../../../components/formFields/form-page-select/macro.njk" import formPageSelect %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% extends "../../layout.njk" %}

{% block head %}
    {{ super() }}
    <link href="/assets/css/accessible-autocomplete.min.css?{{ version }}" rel="stylesheet" />
{% endblock %}

{% block questions %}

    {% set notificationBannerHTML %}
        <h2 class="govuk-notification-banner__heading">
            Before you continue
        </h2>
        <p class="govuk-body">
            Selecting an out of region PDU will not guarantee accommodation. You must contact the relevant Homelessness Prevention Team about the 
            referral and <a class="govuk-link" href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/app/diagram/0:FF2D8D3F16B44268B814F7F8177A16F7.303E3A0E23194CF082C1598E11FA3314" rel="noreferrer noopener" target="_blank">follow this guidance (opens in a new window)</a>
        </p>
    {% endset %}

    {{ mojBanner({
        type: 'information',
        html: notificationBannerHTML,
        iconFallbackText: 'information'
    }) }}

    {% set pageTitleHTML %}
        <span class="govuk-caption-l">{{ section.title }}</span>
        {{ page.title }}
    {% endset %}

    {% set alternativePduDetailHtml %}
        {{ formPageSelect({
            fieldName: 'pduId',
            label: {
                text: "Select a PDU",
                classes: "govuk-label--s"
            },
            items: page.getAllPdus()
        }, fetchContext()) }}
    {% endset %}

    {{ formPageRadios({
        fieldName: "alternativePdu",
        fieldset: {
            legend: {
                html: pageTitleHTML,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: "If placement is required in a PDU that's different to the person's current PDU, select 'yes'"
        },
        items: [
            {
                value: "yes",
                text: "Yes",
                conditional: {
                html: alternativePduDetailHtml
            }
            },
            {
                value: "no",
                text: "No"
            }
        ]
    },fetchContext()) }}
{% endblock %}

{% block extraScripts %}

    <script type="text/javascript" nonce="{{ cspNonce }}" src="/assets/js/accessible-autocomplete.min.js"></script>
    <script type="text/javascript" nonce="{{ cspNonce }}">
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('select#pduId'),
        defaultValue: '',
      })

      const hint = document.createElement('p')
      hint.className = 'govuk-hint'
      hint.textContent = 'Start typing and then select an option'
      document.querySelector('label[for="pduId"]').insertAdjacentElement('afterend', hint)
    </script>

{% endblock %}
