{% from "../../../../components/formFields/form-page-select/macro.njk" import formPageSelect %}
{% extends "../../layout.njk" %}

{% block questions %}

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    </h1>

    {{ formPageInput({
        fieldName: "reference",
        label: {
            text: page.questions.reference,
            classes: "govuk-label--m"
        }
    }, fetchContext()) }}

    {{ formPageDateInput({
        fieldName: "date",
        hint: {
            text: dateInputHint('past')
        },
        fieldset: {
            legend: {
                text: page.questions.date,
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: dateFieldValues('date', errors)
    }, fetchContext()) }}

    {% if page.getLocalAuthorities() | length %}
        {{ formPageSelect({
            label: {
                text: "Home local authority",
                classes: "govuk-label--m"
            },
            hint: {
                text: "Provide the home local authority used for the DTR/NOP"
            },
            items: convertObjectsToSelectOptions(page.getLocalAuthorities(), '', 'name', 'name', 'localAuthorityAreaName'),
            fieldName: "localAuthorityAreaName"
        }, fetchContext()) }}
    {% endif %}

    {% set itemsWithDetail = [] %}
    {% set conditionalHtml %}
        {{ formPageTextarea({
            fieldName: "dutyToReferOutcomeOtherDetails",
            label: {
                text: "Add details about the reason",
                classes: "govuk-label--s"
            }
        }, fetchContext()) }}
    {% endset %}

    {% for item in page.items() %}
        {% set itemsWithDetail = (
            itemsWithDetail.push(mergeObjects(item, {
                conditional: { html: conditionalHtml } if item.value === 'rejectedOther' else undefined
            })), itemsWithDetail) %}
    {% endfor %}

    {{ formPageRadios({
        fieldset: {
            legend: {
                text: page.questions.dutyToReferOutcome,
                classes: "govuk-fieldset__legend--m"
            }
        },
        fieldName: "dutyToReferOutcome",
        items: itemsWithDetail
    }, fetchContext()) }}

{% endblock %}
