{% extends "../../layout.njk" %}

{% block questions %}

    {% set otherOptionsDetailHtml %}
        {{ formPageTextarea({
            fieldName: 'otherOptionsDetail',
            label: {
                text: "Provide details",
                classes: "govuk-label--s"
            }
        },fetchContext()) }}
    {% endset %}

    {% set pageTitleHTML %}
        <span class="govuk-caption-l">{{ task.title }}</span>
        {{ page.title }}
    {% endset %}

    {% set guidanceHTML %}
        <p>
            All accommodation services available through the person's local authority or HMPPS should be explored before an
            application to Transitional Accommodation (CAS3) is made.
        </p>
    {% endset %}

    {{ formPageRadios({
        fieldName: "otherOptions",
        fieldset: {
            legend: {
                html: pageTitleHTML,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        formGroup: {
            beforeInputs: {
                html: guidanceHTML
            }
        },
        items: [
            {
                value: "yes",
                text: "Yes",
                conditional: {
                html: otherOptionsDetailHtml
            }
            },
            {
                value: "no",
                text: "No"
            }
        ]
    },fetchContext()) }}

{% endblock %}
