{% extends "../../layout.njk" %}

{% block questions %}

  {% set pageTitleHTML %}
    <span class="govuk-caption-l">{{ task.title }}</span>
    {{ page.title }}
  {% endset %}

  {% set itemsWithDetail = [] %}

  {% for item in page.items() %}

    {% set conditionalHtml %}
        {{ formPageTextarea({
        fieldName: item.value + "Detail",
        label: {
          text: "Provide details about their behaviour during their stay",
          classes: "govuk-label--s"
        }
      },fetchContext()) }}
    {% endset %}

    {% set itemsWithDetail = (
      itemsWithDetail.push(mergeObjects(item, {
        conditional: {
          html: conditionalHtml
        }
      })), itemsWithDetail)
    %}
  {% endfor %}

  {{ formPageCheckboxes({
    fieldName: "accommodationTypes",
    fieldset: {
      legend: {
        html: pageTitleHTML,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: itemsWithDetail
  }, fetchContext()) }}

{% endblock %}
