{% extends "../../layout.njk" %}

{% block questions %}

  {% set pageTitleHTML %}
    <span class="govuk-caption-l">{{ section.title }}</span>
    {{  page.questions.previousStays }}
  {% endset %}

  {{ formPageRadios({
    fieldName: "previousStays",
    fieldset: {
      legend: {
        html: pageTitleHTML,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      },
      {
        value: "iDontKnow",
        text: "I don't know"
      }
    ]
  }, fetchContext()) }}

  <p>You can check OASys and/or nDelius to see if the person has previously stayed in any of the following:</p>
  <ul>
    <li>Approved Premises (AP or CAS1)</li>
    <li>CAS2 (formerly Bail Accommodation Support Services)</li>
    <li>Transitional Accommodation (CAS3)</li>
  </ul>
  <p>If you cannot find information about previous applications, select 'I don't know'.</p>

{% endblock %}
