{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../../../components/riskWidgets/macro.njk" import widgets %}

{% extends "./_oasys-screen.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}
{% set pageName = "supportingInformation" %}
{% set questions = page.supportingInformationSummaries %}
{% set key = "supportingInformationAnswers" %}
