{% from "../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../../partials/layout.njk" %}

{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: 'Back',
        href: addPlaceContext(paths.premises.bedspaces.show({ premisesId: premisesId, bedspaceId: bedspaceId })),
        classes: 'govuk-!-display-none-print'
    }) }}
{% endblock %}

{% block content %}
    {% include "../../../_messages.njk" %}

    {{ showErrorSummary(errorSummary) }}

    <h1 class="govuk-heading-l">Edit bedspace</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                rows: summary.rows
            }) }}

            <form action="{{ addPlaceContext(paths.premises.bedspaces.update({ premisesId: premisesId, bedspaceId: bedspaceId })) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ formPageInput(
                    {
                        label: {
                            text: 'Bedspace reference',
                            classes: "govuk-label--m"
                        },
                        classes: "govuk-input--width-20",
                        hint: {
                            text: "This will be used to identify the bedspace when making bookings and reporting on the service."
                        },
                        fieldName: "reference"
                    },
                    fetchContext()
                ) }}

                {{ govukCheckboxes({
                    fieldset: {
                        legend: {
                            text: "Select bedspace details",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "Select all that apply:"
                    },
                    items: convertObjectsToCheckboxItems(characteristics, 'name', 'id', 'characteristicIds'),
                    id: "characteristicIds",
                    name: "characteristicIds[]",
                    errorMessage: errors.characteristicIds
                }) }}

                {{ govukTextarea({
                    label: {
                        text: "Additional bedspace details",
                        classes: "govuk-label--m"
                    },
                    hint: {
                        text: "This information will be used to help find a suitable bedspace for the person on probation."
                    },
                    id: "notes",
                    name: "notes",
                    value: notes,
                    errorMessage: errors.notes
                }) }}

                {{ govukButton({
                    text: "Submit",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
