{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../../components/location-header/macro.njk" import locationHeader %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Add a bedspace - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: paths.premises.v2.show({ premisesId: premises.id }),
      classes: 'govuk-!-display-none-print'
    })
  }}
{% endblock %}

{% block content %}
  {% include "../../../_messages.njk" %}
  
  {{ showErrorSummary(errorSummary) }}
  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.premises.v2.bedspaces.create({ premisesId: premises.id })}}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h1 class="govuk-heading-l">Add a bedspace</h1>
        {{ locationHeader({ premises: premises }, false, "govuk-heading-m") }}
        {% include "./_editable.njk" %}  
      </form>
    </div>
  </div>

{% endblock %}
