{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/location-header/macro.njk" import locationHeader %}
{% from "../components/pop-details-header/macro.njk" import popDetailsHeader%}
{% from "../components/place-context-header/macro.njk" import placeContextHeader %}
{% from "../components/place-context-value/macro.njk" import placeContextValue %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Book bedspace - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
  {{ placeContextHeader(placeContext) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Confirm CRN</h1>

  <p>Confirm that the CRN is correct. This information cannot be changed once a bedspace has been booked.</p>

  {{ popDetailsHeader(person) }}
  {{ locationHeader({ premises: premises, room: room }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ addPlaceContext(paths.bookings.create({ premisesId: premises.id, roomId: room.id })) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ placeContextValue(placeContext) }}

        {% set context = fetchContext() %}

        <input type="hidden" name="crn" value="{{ crn }}"/>

        <input type="hidden" name="arrivalDate-day" value="{{ context['arrivalDate-day'] }}"/>
        <input type="hidden" name="arrivalDate-month" value="{{ context['arrivalDate-month'] }}"/>
        <input type="hidden" name="arrivalDate-year" value="{{ context['arrivalDate-year'] }}"/>
        <input type="hidden" name="departureDate-day" value="{{ context['departureDate-day'] }}"/>
        <input type="hidden" name="departureDate-month" value="{{ context['departureDate-month'] }}"/>
        <input type="hidden" name="departureDate-year" value="{{ context['departureDate-year'] }}"/>

        <input type="hidden" name="assessmentId" value="{{ assessmentId }}"/>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Back",
            classes: "govuk-button--secondary",
            href: backLink
          }) }}
          {{ govukButton({
            text: "Submit",
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
