{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../components/booking-info/macro.njk" import bookingInfo %}
{% from "../components/location-header/macro.njk" import locationHeader %}
{% from "../components/pop-details-header/macro.njk" import popDetailsHeader%}
{% from "../components/place-context-header/macro.njk" import placeContextHeader %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Booking history - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: addPlaceContext(paths.bookings.show({ premisesId: premises.id, roomId: room.id, bookingId: booking.id }))
  }) }}
  {{ placeContextHeader(placeContext) }}
{% endblock %}

{% block content %}
  {% include "../../_messages.njk" %}

  <h1 class="govuk-heading-l">Booking history</h1>

  {{ popDetailsHeader(booking.person) }}
  {{ locationHeader({ room: room, premises: premises }) }}

  {% for historicBookingDetail in history | reverse %}
    <div data-cy-history-index="{{ loop.revindex0 }}">
      <h2 class="govuk-heading-s">Updated at {{ historicBookingDetail.updatedAt }}</h4>
      {{ bookingInfo(historicBookingDetail.booking) }}
    </div>
  {%endfor%}

{% endblock %}
