{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../components/booking-info/macro.njk" import bookingInfo %}
{% from "../components/location-header/macro.njk" import locationHeader %}
{% from "../components/pop-details-header/macro.njk" import popDetailsHeader%}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Booking history" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: paths.bookings.show({ premisesId: premises.id, roomId: room.id, bookingId: booking.id })
  }) }}

  {% include "../../_messages.njk" %}

  <h1>Booking history</h1>

  {{ popDetailsHeader(booking.person) }}
  {{ locationHeader({ room: room, premises: premises }) }}

  {% for historicBookingDetail in history | reverse %}
    <div data-cy-history-index="{{ loop.revindex0 }}">
      <h2 class="govuk-heading-s">Updated at {{ historicBookingDetail.updatedAt }}</h4>
      {{ bookingInfo(historicBookingDetail.booking) }}
    </div>
  {%endfor%}


{% endblock %}
