{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/location-header/macro.njk" import locationHeader %}
{% from "../components/place-context-header/macro.njk" import placeContextHeader %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Book bedspace - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ breadCrumb('Book bedspace', [
    {title: 'List of properties', href: paths.premises.index()},
    {title: 'View a property', href: paths.premises.show({ premisesId: premises.id })},
    {title: 'View a bedspace', href: addPlaceContext(paths.premises.bedspaces.show({ premisesId: premises.id, roomId: room.id }))}
  ]) }}
  {{ placeContextHeader(placeContext) }}
{% endblock %}

{% block content %}
  {% include "../../_messages.njk" %}
  
  <h1 class="govuk-heading-l">Book bedspace</h1>

  {{ showErrorSummary(errorSummary, errorTitle) }}

  {{ locationHeader({ premises: premises, room: room }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.bookings.selectAssessment({ premisesId: premises.id, roomId: room.id }) }}" method="get">      
        {% include "./_editable.njk" %}  
      </form>
    </div>
  </div>

{% endblock %}

{% block extraScripts %}

<script type="text/javascript" nonce="{{ cspNonce }}" src="/assets/js/booking-date-hint.js"></script>

{% endblock %}
