{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "../components/booking-info/macro.njk" import bookingInfo %}
{% from "../components/location-header/macro.njk" import locationHeader %}
{% from "../components/pop-details-header/macro.njk" import popDetailsHeader%}
{% from "../components/place-context-header/macro.njk" import placeContextHeader %}

{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "View a booking - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "temporary-accommodation-bookings-show" %}

{% block beforeContent %}
  {{ breadCrumb('View a booking', [
    {title: 'List of properties', href: addPlaceContext(paths.premises.index())},
    {title: 'View a property', href: addPlaceContext(paths.premises.show({ premisesId: premises.id }))},
    {title: 'View a bedspace', href: addPlaceContext(paths.premises.bedspaces.show({ premisesId: premises.id, roomId: room.id }))}
  ]) }}
  {{ placeContextHeader(placeContext) }}
{% endblock %}

{% block content %}
  {% include "../../_messages.njk" %}

  {{ mojPageHeaderActions({
    heading: {
      text: 'View a booking',
      classes: 'govuk-heading-l'
    },
    items: actions
  }) }}

  {{ popDetailsHeader(booking.person, { nameLink: addPlaceContext(paths.assessments.summary({ id: booking.assessmentId })) if booking.assessmentId else "" }) }}
  {{ locationHeader({ room: room, premises: premises }) }}

  {{ bookingInfo(booking, addPlaceContext(paths.bookings.history({ premisesId: premises.id, roomId: room.id, bookingId: booking.id }))) }}

{% endblock %}

{% block extraScripts %}
  {% if actions %}
    <script type="text/javascript" nonce="{{ cspNonce }}">
      new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
    </script>
  {% endif %}
{% endblock %}
