{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - View a booking" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {{ breadCrumb('View a booking', [
    {title: 'List of properties', href: paths.premises.index()},
    {title: 'View a property', href: paths.premises.show({ premisesId: premises.id })},
    {title: 'View a bedspace', href: paths.premises.bedspaces.show({ premisesId: premises.id, roomId: room.id })}
  ]) }}

  {% include "../../_messages.njk" %}

  <h1>View a booking</h1>

  <div class="property-identity">
    <h2 class="govuk-label govuk-label--m">Bedspace reference</h2>
    <p class="govuk-body">{{ room.name }}</p>

    <h2 class="govuk-label govuk-label--m">Property address</h2>
    <p class="govuk-body">{{ premises.addressLine1 }}<br />{{ premises.postcode }}</p>
  </div>

  <div class="edit-bar">
    <div class="edit-bar__container">
      <div class="edit-bar__title">
        <h2 class="govuk-label govuk-label--m">CRN: {{ booking.person.crn }}</h2>
      </div>
      <div class="edit-bar__action">
        <a href="#">Edit</a>
      </div>
    </div>
  </div>

  {{ govukSummaryList({
    rows: summaryList.rows,
    classes: 'govuk-summary-list--no-border details'
  }) }}

{% endblock %}
