{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "../components/booking-info/macro.njk" import bookingInfo %}

{% from "../../partials/breadCrumb.njk" import breadCrumb %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - View a booking" %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "temporary-accommodation-bookings-show" %}

{% block content %}

  {{ breadCrumb('View a booking', [
    {title: 'List of properties', href: paths.premises.index()},
    {title: 'View a property', href: paths.premises.show({ premisesId: premises.id })},
    {title: 'View a bedspace', href: paths.premises.bedspaces.show({ premisesId: premises.id, roomId: room.id })}
  ]) }}

  {% include "../../_messages.njk" %}

  {{ mojPageHeaderActions({
    heading: {
      text: 'View a booking',
      classes: 'govuk-heading-l'
    },
    items: actions
  }) }}

  <div class="location-header">
    <p><span class="govuk-!-font-weight-bold">CRN:</span> {{ booking.person.crn }}</p>

    <h2>Bedspace reference</h2>
    <p>{{ room.name }}</p>

    <h2>Property address</h2>
    <p>{{ premises.addressLine1 }}<br />{{ premises.postcode }}</p>
  </div>

  {{ bookingInfo(booking, paths.bookings.history({ premisesId: premises.id, roomId: room.id, bookingId: booking.id })) }}

{% endblock %}

{% block extraScripts %}
  {% if actions %}
    <script type="text/javascript" nonce="{{ cspNonce }}">
      new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
    </script>
  {% endif %}
{% endblock %}
