{% macro overlapDetails(params) %}
    <dl class="overlap-details">
        <div class="overlap-details__row">
            <div class="overlap-details__row overlap-details__row--inline">
                <dt class="overlap-details__key govuk-visually-hidden">
                    Name: 
                </dt>
                <dd class="overlap-details__value">{{ params.overlap.personName }}</dd>
            </div>
            <dt class="overlap-details__key">
                CRN: 
            </dt>    
            <dd class="overlap-details__value">{{ params.overlap.crn }}</dd>
        </div>
        <div class="overlap-details__row overlap-details__row--inline">
            <dt class="overlap-details__key govuk-visually-hidden">
                Overlap: 
            </dt>
            <dd class="overlap-details__value">{{ params.overlap.overlapDays }}</dd>
        </div>
    </dl>
    {% if params.overlap.assessmentId %}
        <a class="govuk-link" 
            href="{{ addPlaceContext(paths.assessments.summary({ id: params.overlap.assessmentId })) }}"
            rel="noreferrer noopener" target="_blank"
            >View the referral<span class="govuk-visually-hidden"> for {{ overlap.name }}</span>
        </a>
    {% else %}
        No referral found
    {% endif %}
{% endmacro %}
