{% macro overlapDetails(params) %}
    <dl class="overlap-details">
        <div class="overlap-details__row">
                    <dt class="overlap-details__key govuk-visually-hidden">
                        Name:
                    </dt>
                    <dd class="overlap-details__value overlap-details__value--bold">{{ params.overlap.displayName }}</dd>
                </div>
        <div class="overlap-details__row">
            <dt class="overlap-details__key">
                CRN:
            </dt>
            <dd class="overlap-details__value">{{ params.overlap.crn }}</dd>
        </div>
        <div class="overlap-details__row overlap-details__row--inline">
            <dt class="overlap-details__key govuk-visually-hidden">
                Overlap: 
            </dt>
            <dd class="overlap-details__value">{{ params.overlap.overlapDays }}</dd>
        </div>
    </dl>
    <a class="govuk-link"
        href="{{ addPlaceContext(paths.bookings.show({premisesId: params.premisesId, roomId: params.overlap.roomId, bookingId: params.overlap.bookingId})) }}">
        View booking
    </a>
{% endmacro %}
