{% extends "../partials/layout.njk" %}

{% set pageTitle = "Error - " + applicationName %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later or contact</p>
      <p class="govuk-body"><a class="govuk-link" href="mailto:{{ PhaseBannerUtils.supportEmail }}">{{ PhaseBannerUtils.supportEmail }}</a> for help.</p>

      {% if stack %}
        <h1>{{ message }}</h1>
        <h2>{{ status }}</h2>
        <pre>{{ stack }}</pre>
      {% endif %}
    </div>
  </div>

{% endblock %}
