name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - develop

env:
  NODE_ENV: test
  API_CLIENT_ID: approved-premises
  API_CLIENT_SECRET: clientsecret

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          cache: 'npm'

      - name: Installing dependencies
        run: npm install

      - name: Building source
        run: npm run build

      - name: Run tests
        id: test
        run: script/test
